{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Connected person
    </h1>

  <p class="govuk-body">
    A ‘connected person’ is someone who influences or controls your company.
  </p>
  <p class="govuk-body">
    It includes <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs">people with significant control (opens in new tab)</a> and any other individual or company other than yourself that has a declarable interest in your organisation.
  </p>
  <p class="govuk-body">
    For example, a director, a trust, a majority shareholder or a parent or subsidiary company.
  </p>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select yes if the organisation has connected persons"
          aria-required="true">



          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Is your organisation influenced or controlled by another person or company?
          </legend>
          <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="connectedPsc" name="connectedPsc" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="connectedPsc">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="connectedPsc-2" name="connectedPsc" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="connectedPsc">
                No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
  </div>
  </form>


</div>
</div>

{% endblock %}
