{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-xl"> {{ data['connectedPersons'] }}</span>


        <fieldset class="govuk-fieldset" data-required data-error="Enter the Organisation name" aria-required="true">

            <form class="form" method="post">

                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">Enter the organisation's name</h1>
                    </legend>
                      <div id="connected-hint" class="govuk-hint">
                        The name of the 'connected person' that has control or influence over your organisation.
                      </div>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-top-3">
                        <!--<h2 class="govuk-heading-m">Organisation name</h2>-->
                    </legend>
                    <input class="govuk-input govuk-input--width-20" name="connectedPerson" id="connectedPerson"
                        type="text" aria-describedby="connectedPerson">

                </div>

                <button class="govuk-button govuk-!-margin-top-3" type="submit">Continue</button>
            </form>

        </fieldset>


    </div>

</div>
</div>

{% endblock %}
