{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Connected persons
        </h2> -->
        <span class="govuk-caption-l"> {{ data['connectedPersons'] }} </span>

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required
                    data-error="Select yes if the organisation registered with Companies House" aria-required="true">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Is {{ data['connectedPerson'] }} registered with Companies House?
                        </h1>
                    </legend>
                    <div id="numberQuestionHint" class="govuk-hint">
                        Is the ‘connected person’ registered with Companies House as required by the Companies Act 2006. 
                    </div>
                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="numberQuestion" name="numberQuestion" type="radio"
                                value="Yes" aria-controls="conditional-chno">
                            <label class="govuk-label govuk-radios__label" for="numberQuestion">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-chno">
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="chnoInput">
                                Companies House number
                            </label>
                            <input class="govuk-input govuk-!-width-one-third" id="chnoInput" name="chnoInput" value="{{ data['chnoInput'] }}" >
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="numberQuestion-2" name="numberQuestion" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="numberQuestion">
                                No
                            </label>
                        </div>

                    </div>

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
    </div>
    </form>


</div>
</div>

{% endblock %}
