{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Connected persons
        </h2> -->
        <span class="govuk-caption-l"> {{ data['connectedPersons'] }} </span>

        <fieldset class="govuk-fieldset" data-required data-error="Enter the legal form of the organisation"
            aria-required="true">

            <form class="form" method="post">

                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-heading-l">What is {{ data['connectedPerson'] }}'s legal form?</h2>
                    </legend>
                    <div id="rightLegalFormdHint" class="govuk-hint">
                          When it was set up and registered, what structure was used. For example, a limited company or limited liability partnership.
                    </div>
                    <input class="govuk-input" name="rightLegalForm" id="rightLegalForm" type="text"
                        aria-describedby="rightLegalForm">
                </div>

                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-heading-l">Which law enforces it?</h2>
                    </legend>
                    <div id="rightLawHint" class="govuk-hint">
                        For example, Companies Act 2006.
                    </div>
                    <input class="govuk-input" name="rightLaw" id="rightLaw" type="text" aria-describedby="rightLaw">
                </div>
                <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
            </form>

        </fieldset>
    </div>

</div>
</div>

{% endblock %}
