{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

{% if data['personQuestion'] == 'organisation' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <form class="form" method="post">

        
        
        
            <div class="govuk-form-group">
                <span class="govuk-caption-l"> {{ data['connectedPersons'] }} </span>
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="connectedPerson">Enter the organisation's name</label>
        </h1>
                
                <input class="govuk-input govuk-input--width-20" name="connectedPerson" id="connectedPerson"
                    type="text">
            </div>
            <button class="govuk-button" type="submit">Continue</button>
        </form>
  
  
        

        {% else %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

            <span class="govuk-caption-l"> {{ data['connectedPersons'] }} </span>
            <h1 class="govuk-heading-l">Enter the person with the right to exercise control's details</h1>

                <form class="form" method="post">

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="firstName">First name</label>
                        <input class="govuk-input govuk-input--width-20" name="connectedPerson" id="firstName"
                            type="text">
                    </div>
    
    
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="lastName">Last name</label>
                        <input class="govuk-input govuk-input--width-20" name="connectedPersonLastname" id="lastName"
                            type="text">
                    </div>
    
                    <div class="govuk-form-group govuk-!-display-none">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                          <legend class="govuk-fieldset__legend">
                           Date of birth
                          </legend>
                          <div id="dob-hint" class="govuk-hint">
                            For example, 27 3 2007
                          </div>
    
                            <div class="govuk-date-input" id="convictionDis">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="individualDay">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="individualDay"
                                            name="individualDay" type="text" inputmode="numeric">>
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="individualMonth">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                            id="individualMonth" name="individualMonth" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="individualYear">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                            id="individualYear" name="individualYear" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
    
    
    
                        <div class="govuk-form-group  govuk-!-display-none">
                            <label class="govuk-label" for="selectNationality">Nationality</label>
                            <select class="govuk-select autocomplete" id="selectNationality"
                                name="selectNationality">
    
                                <option value=""></option>
                                {% for nationality in nationalities %}
                                <option value="{{ nationality.value }}">{{ nationality.value }}</option>
                                {% endfor %}
    
                            </select>
                        </div>
    
    
                    <button class="govuk-button" type="submit">Continue</button>
                </form>
    

                {% endif %}

                {% endblock %}

                {% block pageScripts %}
                <script src="/public/javascripts/accessible-autocomplete.js"></script>
                <script src="/public/javascripts/script.js"></script>
                <script src="/public/javascripts/data.js"></script>
                {% endblock %}
