{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
      Mandatory exclusion grounds
    </h2>

    <span class="govuk-caption-l">
      {{ data['exclusionMan'] }}
    </span> -->

    <form class="form" method="post">
      <h1 class="govuk-heading-l">Add a user
        </h1>
      <fieldset class="govuk-fieldset" data-required data-error="Enter the email address" aria-required="true">
        <div class="govuk-form-group">
          <label class="govuk-label" for="firstName">
              First name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="firstName" name="firstName" type="text" value="{{ data['firstName'] }}">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="lastName">
                Last name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="lastName" name="lastName" type="text"  value="{{ data['lastName'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="emailAddress">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="emailAddress" name="emailAddress" type="text" value="{{ data['emailAddress'] }}">
        </div>
          <!--
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">Enter their email address</h1>
            </legend>

            <input class="govuk-input govuk-input--width-20" name="emailAddress" id="emailAddress" type="email"
              aria-describedby="emailAddress" value="{{ data['emailAddress'] }}">
           -->

           <div class="govuk-form-group">

             <h2 class="govuk-heading-m">
               Select user role
               </h2>
               <div id="user-type-item-hint" class="govuk-hint">
                 Select all that apply
               </div>
               <fieldset class="govuk-fieldset">

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="userType" name="userType" type="checkbox" value="Admin" aria-describedby="user-type-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="userType">
                    User admin
                  </label>
                  <div id="user-type-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    Can add, remove and edit users
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="userType2" name="userType" type="checkbox" value="Allow access to supplier information" aria-describedby="user-type2-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="userType2">
                    Editor
                  </label>
                  <div id="user-type2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    Can view, add and edit organisation information, view supplier information and create API keys
                  </div>
                </div>


              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="userType" name="userType" type="checkbox" value="Admin" aria-describedby="user-type-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="userType">
                    Viewer
                  </label>
                  <div id="user-type-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    Can view organisation and supplier information
                  </div>
                </div>
            </fieldset>
          </div>

          </fieldset>
          <button class="govuk-button" type="submit">Continue</button>
        </form>



    </form>
  </div>

</div>
</div>

{% endblock %}
