{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {% if showSuccessMessage == 'add' %}
      {% set messageTitle = "Success" %}
      {% set messageBody = "You've invited [Joe Bloggs]" %}
    {% endif %}

    {% if showSuccessMessage == 'edit' %}
      {% set messageTitle = "Success" %}
      {% set messageBody = "You've updated the role for [Joe Bloggs]" %}
    {% endif %}

    {% if showSuccessMessage == 'remove' %}
      {% set messageTitle = "Success" %}
      {% set messageBody = "You've removed [Joe Bloggs]" %}
    {% endif %}

    {% if showSuccessMessage %}
    <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          {{ messageTitle }}
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          {{messageBody}}
        </p>
      </div>
    </div>
    {% endif %}

    <form class="form" method="post">


      <h1 class="govuk-heading-l">
        {% if (data['userCount'] == "1") %}
        Organisation has 1 user
        {% else %}
        Organisation has {{ data['userCount'] }} users
        {% endif %}
      </h1>

      <div class="govuk-form-group">
        {% for user in data['userArray'] %}
        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ user['firstName'] }} {{ user['lastName'] }}
              {% if loop.index == 1 %}
              <span class="govuk-tag">Admin</span>
              {% else %}
              <div class="govuk-hint">Invite sent</div>
              {% endif %}
            </dt>
            <dt class="govuk-summary-list__value">
              {{ user['emailAddress'] }}
            </dt>
            <dd class="govuk-summary-list__actions">
              {% if loop.index > 1 %}
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="user-details?edit=true">Change</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="remove-user">Remove</a>
                </li>
              </ul>
              {% endif %}
            </dd>
          </div>
        </dl>
        {% endfor %}
        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lewis Bloggs <span class="govuk-tag">Admin</span>
            </dt>
            <dt class="govuk-summary-list__value">
              Lewis.bloggs@capita.com
            </dt>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="user-details?edit=true">Change</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="remove-user">Remove</a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>

        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mercedes Benz <span class="govuk-tag govuk-tag--green">Editor</span>
              <div class="govuk-hint">Invite sent</div>
            </dt>
            <dt class="govuk-summary-list__value">
              mercedes.benz@capita.com
            </dt>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="remove-user">Remove</a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>

        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Raj Patel <span class="govuk-tag govuk-tag--yellow">Viewer</span>
            </dt>
            <dt class="govuk-summary-list__value">
              raj.patel@capita.com
            </dt>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="remove-user">Remove</a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>

      </div>



      {% if (data['userArray'].length <= 10) %} <fieldset class="govuk-fieldset" data-required
        data-error="Select yes if you need to add another user" aria-required="true">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Add another user?
          </h2>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="addAnotherUser" name="addAnotherUser" type="radio"
              value="Yes">
            <label class="govuk-label govuk-radios__label" for="addAnotherUser">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="addAnotheruser-1" name="addAnotherUser" type="radio"
              value="No">
            <label class="govuk-label govuk-radios__label" for="addAnotherUser">
              No
            </label>
          </div>
        </div>
        </fieldset>
        {% else %}

        <p class="govuk-!-margin-top-9">You cannot add more users</p>
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

    </form>


  </div>
</div>

{% endblock %}
