{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-m"> PPON - 97465533 </span>
      <span class="govuk-label--l">Random Consortium</span>
    </h1>

    <h2 class="govuk-heading-m">Organisation details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation name</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Admin Organisation</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-name">Change<span class="govuk-visually-hidden"> organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation email</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Admin email</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-email">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation address</dt>
        <dd class="govuk-summary-list__value">
          <p>
            {{ data['postal-address-line-1'] }}
            <br />
            {{ data['postal-address-postcode'] }}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-address-uk">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

     
      <div class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
        <a class="govuk-link" href="/supplier-information">Supplier information</a>
      </div>

      <div class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
        <a class="govuk-link" href="consortium-management.html">Consortium management</a>
      </div>  
    </dl>      
    <div>
      <a href="consortium-uniqueId" class="govuk-button govuk-!-margin-top-3">Formalise consortium</a>
   </div>
  </div>
</div>

{% endblock %}
