{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="consortiumName">
              Enter unique ID for your consortium
            </label>
          </h1>
          <div id="hint" class="govuk-hint">Please enter the unique ID you have recieved for the consortium.</div>
          <input class="govuk-input govuk-!-width-two-thirds" id="consortiumName" name="consortiumName" type="text" aria-describedby="hint" value="{{ data['consortiumName'] }}">
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
           Confirm
        </button>
    </form>
  </div>
</div>

{% endblock %}
