<header class="govuk-header app-header--custom-logo" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
        <a class="govuk-header__link govuk-header__service-name" href="/">
        Arts Council England
      </a>
    </div>
    <div class="govuk-header__content">
      <a class="govuk-header__link govuk-header__service-name" href="/">
        Developing Your Creative Practice
      </a>
    </div>
  </div>
</header>
