<header class="govuk-header app-header--custom-logo" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/images/logo.svg"
             alt=""
             class="app-header__org-logo">
      </a>
    </div>
    <div class="govuk-header__content">
      <a class="govuk-header__link govuk-header__service-name" href="/">
        Developing my Creative Practice
      </a>
    </div>
  </div>
</header>
