{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Overview</span>
    </h1>

    <h2 class="govuk-heading-m">Organisation details</h2>
    
    <dl class="govuk-summary-list">
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Joe Bloggs
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div> -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Organisation Limited</p>
          <p class="govuk-body">info@organisationlimited.co.uk</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is your organisation responsible for allocating and approving fundsfor procurement activities,managing the procurement process, providing financial resources for contracting, making payments within transactions,and/or reviewing the procurement process?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Does your organisation play a role in any aspect of the procurement process, including budget allocation, procurement management, funding provision, payment processing, or procurement process review, within the organization or project?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has your organisation been awarded contracts or directly contracted to provide goods, works, or services?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has your organisation been awarded contracts or directly contracted to provide goods, works, or services?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you both purchased tender documents and submitted clarification questions regarding the contracting process?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are you a Contracting authority?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is your contracting authority type?
        </dt>
        <dd class="govuk-summary-list__value">
          Public Authority - Central Government
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do devolved regulations apply to your organisation?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes, Scotland
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Companies House number</p>
          <p class="govuk-body">1367838</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is your organisation based in the UK?
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation address
        </dt>
        <dd class="govuk-summary-list__value">
          72 Guild Street<br>London<br>SE23 6FH
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-m">Organisation management</h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="#">Add management</a>
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </dd>
      </div>
      
    </dl>

    <h2 class="govuk-heading-m">Organisation user management</h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="#">Add users</a>
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </dd>
      </div>
      
    </dl>

    <!-- <a href="#" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">Submit</a>
     -->

  </div>
</div>

{% endblock %}
