//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.govuk-panel--b, .govuk-panel--c {
    h1, p, span, summary {
        color: white;
    }
}

.govuk-panel--a { 
    background-color: govuk-colour("light-grey");

    a:visited {
        color: black;
    }
}


.govuk-panel--b { 
    background-color: govuk-colour("turquoise");
}

.govuk-panel--c { 
    background-color: govuk-colour("blue");
}

.heading-coloured {
    color: govuk-colour("blue");
}

.border-bottom {
    border-bottom: 2px solid $govuk-border-colour;
}

#page-feedback-container {
    background-color: govuk-colour("light-grey");
    border-top: 1px solid $govuk-border-colour;
}

#page-feedback-container button, #page-feedback-container a[role="button"] {
    background: none;
    border: 1px solid govuk-colour("black");
    color: $govuk-text-colour;
    text-decoration: none;
}

footer {
    border-top: 10px solid $govuk-brand-colour !important;
}

.global-banner {
    background-color: #bbd4ea;
    border-bottom: 1px solid govuk-colour("white");
}

.well {
    background-color: govuk-colour("light-grey");
}