//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.govuk-panel--b, .govuk-panel--c {
    h1, p, span, summary {
        color: white;
    }
}

.govuk-panel--a { 
    background-color: govuk-colour("light-grey");

    a:visited {
        color: black;
    }
}


.govuk-panel--b { 
    background-color: govuk-colour("turquoise");
}

.govuk-panel--c { 
    background-color: govuk-colour("blue");
}