//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.govuk-panel--a, .govuk-panel--b, .govuk-panel--c {
    h1 {
        color: white;
    }

    p {
        color: white;
    }
}

.govuk-panel--a { 
    background-color: govuk-colour("green");
}

.govuk-panel--b { 
    background-color: govuk-colour("turquoise");
}

.govuk-panel--c { 
    background-color: govuk-colour("blue");
}