<!--
{*% set inputName="connectedPerson" %*}
{*% set heading="Enter the organisation's name" %*}


OPTIONAL:
{*% set headingCaption="[Caption]" %*}
{*% set hintText="[hint text here...]" %*}
-->


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="{{ inputName }}Hint">
        {% include "./fieldset-legend.html" %}
        {% include "./hint-text.html" %}
        <div class="govuk-date-input" id="{{ inputName }}">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ inputName }}Day">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ inputName }}Day" name="{{ inputName }}Day" type="text" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ inputName }}Month">
                    Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ inputName }}Month" name="{{ inputName }}Month" type="text" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{ inputName }}Year">
                    Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="{{ inputName }}Year" name="{{ inputName }}Year" type="text" inputmode="numeric">
                </div>
            </div>
        </div>
    </fieldset>
</div>