{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" method="post">

      {% set heading="Check your answers" %}
      {% set headingCaption="Exclusions from procurement" %}

      {% set options=[] %}
      {% set options=(options.push({k:"Exclusion added", v:"Yes"}), options) %}
      {% set options=(options.push({k:"UK exclusion", v:"Yes"}), options) %}
      {% set options=(options.push({k:"Exclusion applies to", v:"Supplier (Random Limited); joe@bloggs.com"}), options) %}
      {% set options=(options.push({k:"Exclusion in detail", v:"Ipsum lorem"}), options) %}
      {% set options=(options.push({k:"Exclusion being managed", v:"Ipsum lorem"}), options) %}
      {% set options=(options.push({k:"Supporting document", v:"Yes; supporting-document.pdf"}), options) %}
      {% set options=(options.push({k:"Recorded on a website", v:"No"}), options) %}
      {% set options=(options.push({k:"Circumstances ended", v:"No"}), options) %}
      {% set options=(options.push({k:"Date circumstances ended", v:"12 January 2021"}), options) %}
      

      {% include("../templates/check-answer.html") %}

      {% set buttonCaption="Save" %}
      {% include("../templates/button--submit.html") %}

  </form>
</div>
</div>

{% endblock %}