{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-form-group">

                {% set inputName="documents" %}
                {% set heading="Do you have a supporting document to upload?" %}
                {% set revealLabel = "Upload file" %}
                {% set hintText="A decision from a public authority that was the basis for the offence. For example, documentation from the police, HMRC or the court. We accept most image and file formats that are smaller than 25MB." %}

                <!-- You can upload most file types including: PDF, scans, mobile phone photos, Word, Excel and PowerPoint, multimedia and ZIP files that are smaller than 10MB. -->
                {% include "../templates/radio-yes-no-reveal-file-upload.html" %}
            </div>
            {% include("../templates/button--submit.html") %}
        </form>

    </div>
</div>
</div>

{% endblock %}