{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Economic and Financial Standing
        </h2> -->
        <!-- <span class="govuk-caption-l">
            Upload the latest financial accounts for the most recent year
        </span> -->

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required data-error="Upload the latest accounts"
                    aria-required="true">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Upload your accounts
                        </h1>
                    </legend>
                    <p class="govuk-body">Depending on which of these you have, you need to upload your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>most recent 2 financial years of audited accounts </li>
  <li>most recent financial year of audited accounts, if you do not have the preceding year </li>
</ul>
                    <div id="file-hint" class="govuk-hint">
                        Your file can be JPG, BMP, PNG, TIF or PDF format. Give the file a descriptive name such as 'audited-accounts-2020-2021.pdf'.
                    </div>

                    <label class="govuk-label govuk-!-margin-top-6" for="fileUpload">
                        Upload a file
                    </label>
                    <input class="govuk-file-upload" id="file-Upload1" name="fileUpload" type="file">

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and continue</button>

        </form>

    </div>
</div>

{% endblock %}