{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">
            The financial information you'll need
        </h1>
        <p>
        To participate in public procurement under the Procurement Act you 
        need to upload some financial information.
        </p>
        <p>
            <p class="govuk-body">Depending on which of these you have, you need to upload your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>most recent 2 financial years of audited accounts </li>
  <li>most recent financial year of audited accounts, if you do not have the preceding year</li>
  <li>accounts or financial statements for your most recent financial year, if your accounts did not require an audit</li>
</ul>
           
        <p>
            You'll need to know the financial year end covered by the information you 
            give us.
        </p>

        <a href="financial-question" class="govuk-button">Continue</a>

    </div>
</div>

{% endblock %}