{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">
            The financial information you'll need
        </h1>
        <!--<p>
        To participate in public procurement under the Procurement Act you 
        need to upload some financial information.
        </p>
        <p>
            <p class="govuk-body">To participate in public procurement under the Procurement Act you'll need to upload audited accounts for one of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your most recent 2 financial years</li>
  <li>your most recent financial year, if you do not have the preceding year</li>
  <li>accounts or financial statements for your most recent financial year, if your accounts did not require an audit</li>
</ul>-->

<p class="govuk-body">Upload accounts or statements for your 2 most recent financial years.</p>
        <p>If you do not have 2 years, you can upload your most recent 2 financial year.</p>
           <p>You'll need to enter the financial year end date.
        </p>

        <a href="financial-question" class="govuk-button">Continue</a>

    </div>
</div>

{% endblock %}