{% set hideSIBranding = true %}

{% extends "layouts/main.html" %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Check your phone</span> 
    </h1>
    <p>
      We sent a code to the phone number linked to your account.
    </p>
    <p>
      It might take a few minutes to arrive. The code  will expire after 2 hours.
    </p>

    <form action="../supplier-information-v{{proto_version}}/landing" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
          Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problem with the code?
        </span>
      </summary>
      <div class="govuk-details__text">
        Ipsum lorem
      </div>
    </details>


  </div>
</div>

{% endblock %}
