{% set hideSIBranding = true %}

{% extends "layouts/main.html" %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="enter-code" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="password">
            Enter your password
          </label>
        </h1>
        <input class="govuk-input" id="password" name="password" type="text">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>


    </form>

    <div class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="#">I have forgotten my password</a>
    </div>

  </div>
</div>

{% endblock %}
