{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have an identification number for your organisation?
            </h1>
          </legend>
          <div id="hint" class="govuk-hint">
            For example, Companies House, VAT, charities, learning providers, NHS, societies, and financial and company registries for Jersey, Guernsey, and the Isle of Man.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has-org-id" name="hasOrgId" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="has-org-id">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has-org-id-2" name="hasOrgId" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="has-org-id-2">
                No, I'm a UK sole trader or an international supplier
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
