{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Register your details as a buyer or supplier of procurements</span>
    </h1>
    <p>This service is for contracting authorities, organisations and sole traders who buy goods, works, and services in the UK’s public and utilities sectors, and apply for contracts supply them.</p>
    <p>You will first <a class="govuk-link govuk-link--no-visited-state" href="/one-login/?v=2">create GOV.UK One Login or sign in.</a></p>
  </div>
</div>

{% endblock %}
