{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set headingCaption="[My fab consortium]" %}
            {% set heading="Enter an address for the consortium" %}
            {% set description="The address consortium members have agreed will be the service address for the procurement. For example, the postal address of an organisation in the consortium. " %}
            {% set addressType="non-uk" %}



            {% include("../templates/address.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
