{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form class="form" method="post">

            {% set heading="Check your answers" %}
            {% set headingCaption="My fab consortium" %}

            {% set options=[] %}
            {% set options=(options.push({k:"Consortium name", v:"My fab consortium"}), options) %}
            {% set options=(options.push({k:"Postal address", v:"10 Downing Street", v1:"London", v2:"SW1 1WS"}), options) %}
            {% set options=(options.push({k:"Email address", v:"joe.blog@randomlimited.co.uk"}), options) %}


            {% include("../templates/check-answer.html") %}

            {% set buttonCaption="Save" %}
            {% include("../templates/button--submit.html") %}


        </form>

</div>

{% endblock %}
