{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="consortiumName" %}
            {% set heading="Name your consortium" %}
            {% set hintText="Must not exactly match a member organisation’s name. You can change this later if you need to." %}

            {% include("../templates/text-input--single.html") %}
            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}
