{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="consortiumContactName" %}
            {% set headingCaption="[My fab consortium]" %}
            {% set heading="Enter contact details" %}

            {% set label1="Name"%}
            {% set label2="Email address"%}

            {% set buttonCaption="Save" %}
            {% include("../templates/two-text-inputs.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
