{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="consortiumContactEmail" %}
            {% set headingCaption="[My fab consortium]" %}
            {% set heading="Enter an email address for the consortium " %}
            <!--% set hintText="Enter an email address for the consortium" %}

            
            {% include("../templates/text-input--single.html") %}
            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}
