{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="orgSharecode" %}
            {% set heading="Enter a share code" %}
            {% set headingCaption="[My fab consortium]" %}
            {% set hintText="Must be the organisation's most recent share code" %}

            {% include("../templates/text-input--single.html") %}
            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}
