{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

{% if showNotification %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Random limited has been added to the My fab consortium.
    </p>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-body">
    <span class="govuk-caption-l">
      Ppon: S3XYPP0N
    </span>
    <h1 class="govuk-heading-l">
      My fab consortium
    </h1>

    <h2 class="govuk-heading-m">Consortium details</h2>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Consortium name</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">My fab consortium</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-name">Change<span class="govuk-visually-hidden"> consortium name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Consortium address</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            10 Downing Street
            <br />
            London
            <br />
            SW1 1WS
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="address">Change<span class="govuk-visually-hidden"> consortium address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Contact details</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Joe Bloggs
            <br />
            joe.blog@randomlimited.co.uk
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="contact-details">Change<span class="govuk-visually-hidden"> consortium address</span></a>
        </dd>
      </div>

     

    </dl>

    <h2 class="govuk-heading-m">Organisations in this consortium</h2>
    <p>You'll need the most recent share code for each</p>
    
    {% if showConsortia %}
    <dl class="govuk-summary-list ">

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Joe the plumber</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="#">XJ992838</a>
            <span class="govuk-hint govuk-!-display-block">Sharecode created on 8 Nov 2024</span>
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="update-sharecode">Change<span class="govuk-visually-hidden"> organisation sharecode</span></a>
        </dd>
      </div> -->


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Random Limited</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><a href="#">P0029939</a>
            <span class="govuk-hint govuk-!-display-block">Share code created on 8 Nov 2024</span>
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="update-sharecode">Change<span class="govuk-visually-hidden"> organisation sharecode</span></a>
        </dd>
      </div>



    </dl>
    {% endif %}

    <div class="govuk-body">
      <a class="govuk-button govuk-button--secondary" href="enter-sharecode">Add organisation to the consortium</a>
    </div>

    <hr class="govuk-section-break govuk-section-break--l" />

    <h2 class="govuk-heading-m">Share your combined supplier information</h2>

    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="download/manage-codes" aria-describedby="before-you-start-2-status">
            Declare and create a share code
          </a>
        </div>

        <div class="govuk-task-list__status" id="before-you-start-2-status">

          {% if showConsortia %}
          <strong class="govuk-tag">
            Not complete
          </strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--orange">
            Cannot start yet
          </strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l" />

    <div class="govuk-!-margin-top-3">
        <a class="govuk-link" href="org-dashboard">Back to my account</a>
      </div>
    </div>


  </div>
</div>

{% endblock %}
