{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Declaration
        </h2> -->


        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if data['postcode'] | length == "0" %}
                <span class="govuk-caption-l">Your declaration details</span>
                <h1 class="govuk-fieldset__heading">
                    Enter your postal address
                </h1>

                {% else %}
                <h1 class="govuk-fieldset__heading">
                    Address not found, enter the supplier’s declaration address manually
                </h1>
                {% endif %}
            </legend>
            <div id="declarationNameEmailHint" class="govuk-hint">
                So the contracting authority can contact you.
            </div>

            <p>
                <a href="person-address">Enter a non-UK address</a>
              </p>

            <form class="form" method="post" action="check-answers">
                <div class="govuk-form-group">

                    <div class="govuk-form-group govuk-!-margin-top-3">
                        <label class="govuk-label" for="address-line-1">
                            Address line 1
                        </label>
                        <input class="govuk-input" id="address-line-1" name="address-line-1" type="text"
                             autocomplete="address-line1" value="10 Downing Street">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town"
                            type="text" value="London" autocomplete="address-town">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                            Post code
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode"
                            type="text" value="SW1 1AA" autocomplete="declaration-postal-code">
                    </div>

                </div>
                <div class="govuk-form-group">
                    <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                        Continue
                    </button>
                </div>

            </form>
        </fieldset>


    </div>
</div>




{% endblock %}
