{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- !! - show one's they can't select?? - !! -->

        <form class="form" method="post">

            {% set inputName="consortiumLead" %}
            {% set heading="Select the lead organisation" %}
            {% set headingCaption="[My fab consortium]" %}
            {% set hintText="The lead will set up the consortium and be the admin" %}
 
            <!-- user options -->

            {% set options=[] %}
            {% set optionHints=[] %}

            {% set options=(options.push("Kaffeine labs"), options) %}
            {% set optionHints=(optionHints.push("Share code P990281"), optionHints) %}

            {% set options=(options.push("My org 2"), options) %}
            {% set optionHints=(optionHints.push("Share code L093939"), optionHints) %}

 
            {% include("../templates/radios.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
