{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      Create a consortium
    </h1>

    <p>Two or more suppliers that want to submit a joint bid can create a consortium. You can add as many suppliers as you need to. 
      
      <p class="govuk-body">As the organisation creating the consortium, you'll need to enter: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a consortium name</li>
        <li>an address</li>
        <li>an email address</li>
        <li>your most recent share code</li>
        <li>the most recent share codes for all the other suppliers</li>
      </ul> 
    </p>
    <div class="govuk-inset-text">Any supplier you want to add to the consortium must have completed their supplier information and created a share code.  

    </div>
  </p>
    <p>When you've added all suppliers, you'll create a share code for your combined supplier information.  </p>

    <a href="consortium-name.html" class="govuk-button" role="button">Continue</a>

    </div>
</div>

{% endblock %}
