{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      Create a consortium
    </h1>

    <p>A consortium is an unlimited number of two or more suppliers coming together to submit a joint bid. 
      <p class="govuk-body">You'd usually form a consortium when individual suppliers: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are not able to meet all the relevant requirements of the tender</li>
        <li>take the view that they could collectively put in a bid</li>
      </ul> 
    </p>
      <p class="govuk-body">As the lead organisation creating the consortium, you'll need: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a consortium name</li>
        <li>your most recent share code</li>
        <li>the most recent share codes for all the other suppliers</li>
      </ul> 
    </p>
    <div class="govuk-inset-text">If any supplier joining the consortium does not have a share code, they'll first need to complete their supplier information and create one.  

    </div>
  </p>
    <p>When you've added all suppliers, you'll create a share code for your combined supplier information.  </p>

    <a href="consortium-name.html" class="govuk-button" role="button">Continue</a>

    </div>
</div>

{% endblock %}
