{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      Create a consortium
    </h1>

    <p class="govuk-body">This is where two or more suppliers jointly bid on a procurement. Any number of suppliers can come together to form a consortium.</P>

      <p class="govuk-body">To create a consortium, you'll need: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to give it a unique name</li>
        <li>an address</li>
        <li>an email address</li>
        <li>your most recent share code</li>
        <li>the most recent share codes for the other suppliers</li>
      </ul>

    <div class="govuk-inset-text">Any supplier you want to add to the consortium must have completed their supplier information and created a share code.

    </div>

    <p>When you've added all suppliers, you'll create a share code for your combined supplier information.</p>

    <a href="consortium-name.html" class="govuk-button" role="button">Continue</a>

    </div>
</div>

{% endblock %}
