{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="orgSharecode" %}
            {% set heading="Enter a new sharecode for [Random Limited]" %}
            {% set headingCaption="[My fab consortium]" %}
            {% set hintText="This must be the organisation's most recent share code" %}

            {% set value="P0029939" %}
            {% include("../templates/text-input--single.html") %}

            {% set buttonCaption="Save" %}
            {% include("../templates/button--submit.html") %}
            

        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

        <a class="govuk-button govuk-button--secondary" href="remove-organisation">Remove from consortium</a>
        
        <hr class="govuk-section-break govuk-section-break--l" />

        <a class="govuk-link govuk-link--no-visited-state govuk-body" href="overview?showConsortia=true">Back to consortium details</a>
    </div>
</div>

{% endblock %}
