{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Mandatory exclusion grounds
        </h2>

        <span class="govuk-caption-l">
            {{ data['exclusionMan'] }}
        </span> -->

        <form class="form" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you have a supporting document to upload? 
                        </h1>
                    </legend>
                    <div id="document-hint" class="govuk-hint">
                        A decision from a public authority that was the basis for the exclusion. For example, documentation from the police, HMRC or the court. </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="documents-2" name="documents-2" type="radio" value="Yes" data-aria-controls="conditional-chno" {% if data['documents-2'] == 'Document upload' %} checked {% endif %} >
                            <label class="govuk-label govuk-radios__label" for="documents-2">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-chno">
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="chnoInput">
                                You can upload most file types including: PDF, scans, mobile phone photos, Word, Excel and PowerPoint, multimedia and ZIP files that are smaller than 10MB.  
                            </label>
                            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                            </div>
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="noDocuments" name="documents-2" type="radio" value="No, I cannot provide any documentation" {% if data['documents-2'] == 'No, I cannot provide any documentation' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="noDocuments">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-6" type="submit">Continue</button>

        </form>

    </div>
</div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}