{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-column-ful-width">

    <!-- <h1 class="govuk-heading-m" style="color: #1d70b8;">
        Mandatory exclusion grounds
    </h1>

    <span class="govuk-caption-l">
        {{ data['exclusionMan'] }}
    </span> -->

    <form class="form" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" data-required data-error="Provide Supporting evidence"
                aria-required="true">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="mitDetail">
                        Tell us about the [penalty/conviction/court ruling]
                    </label>
                </h1>
                <p class="govuk-body">You must briefly describe:</p>
            

                <ol class="govuk-list govuk-list--number">
                    <li>The [penalty/conviction/court ruling].</li>
                    <li>What you have done to prove you have taken it seriously. For example, paid a fine or compensation. </li>
                    <li>What steps you have taken to prevent the circumstances from happening again. For example, changing staff or management, putting procedures or training in place. </li>
                    <li>How you are monitoring the prevention of the circumstances.</li>
                    <li>If it was publicly recorded on a website, include the website address. </li>
                  </ol>
                

                <textarea class="govuk-textarea" id="mitDetail" name="mitDetail1" rows="6"
                    aria-describedby="mitDetail-hint"></textarea>

               
            </fieldset>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
    </form>

    {% endblock %}