{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add any mandatory and discretionary exclusions</h1>

    <p class="govuk-body">
      Tell us if there are any circumstances that may exclude you as a supplier from the procurement process because your organisation or a connected person committed an offence.  These offences are listed as 'mandatory exclusion grounds' and 'discretionary exclusion grounds' in the Procurement Act.  
    </p>
    <div class="govuk-inset-text">
      If a person with significant control such as a director or majority shareholder committed the offence, you must first <a href="https://co-sirsi-17f24dc1d065.herokuapp.com/supplier-information-v5/connected/connected-start" target="https://co-sirsi-17f24dc1d065.herokuapp.com/supplier-information-v5/connected/connected-start">add
        them as a connected person (opens in new tab)</a>.
    </div>
    <p class="govuk-body">
      You'll need to provide details about each exclusion and upload any supporting documents you may have.
    </p>

    <!-- Penalties Details -->
    <h2 class="govuk-heading-m">Mandatory exclusions</h2>
    <p class="govuk-body">Penalties and other events that may exclude you are:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>adjustments for tax arrangements that are abusive </li>
  <li>competition law infringements </li>
  <li>defeat in respect of notifiable tax arrangements </li>
  <li>failure to cooperate with investigation</li>
  <li>finding by HMRC, in exercise of its powers in respect of VAT, of abusive practice  </li>
  <li>penalties for transactions connected with VAT fraud and evasion of tax or duty  </li>
  <li>penalties payable for errors in tax documentation and failure to notify and certain VAT and excise wrongdoing   </li>
</ul>
    </p>

    <!-- Convictions -->
    <!--<h2 class="govuk-heading-m">Convictions</h2>-->
    <p class="govuk-body">Convictions that may exclude you are: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>ancillary offences - aiding, abetting, encouraging or assisting crime </li>
  <li>cartel offences </li>
  <li>corporate manslaughter or homicide </li>
  <li>labour market, slavery and human trafficking </li>
  <li>organised crime </li>
  <li>tax offences </li>
  <li>terrorism and offences having a terrorist connection  </li>
  <li>theft, fraud and bribery  </li>
</ul>
    </p>

    <p class="govuk-body">These exclusions are detailed in <a href="" target="_blank">Schedule 6 of the Procurement Act 2023 (opens in new tab)</a>.
    </p>
    <!-- Court Rulings -->
    <h2 class="govuk-heading-m">Discretionary exclusions </h2>
    <p class="govuk-body">Discretionary exclusions that may exclude you are:  </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>acting improperly in procurement </li>
      <li>breach of contract and poor performance  </li>
      <li>environmental misconduct</li>
      <li>infringement of Competition Act 1998, under Chapter II prohibition </li>
      <li>insolvency or bankruptcy </li>
      <li>labour market misconduct </li>
      <li>potential competition and competition law infringements </li>
      <li>professional misconduct  </li>
      <li>suspension or ceasing to carry on all or a substantial part of business  </li>
    </ul>
    </p>

    <div id="court-rulings-body" class="govuk-body">These exclusions are detailed in <a
    href="" target="_blank">Schedule 7 of the Procurement Act 2023 (opens in new tab)</a>.
  </div>
    
  <div></div><a class="govuk-button" href="exclusion-penalty-question">Continue</a>
  </div>
</div>

{% endblock %}
