{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form class="form" method="post">
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" data-required data-error="Select the journey you want to take"
          aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select which best describes your organisation as a supplier
            </h1>
          </legend>
          <div id="individualOrOrg-body" class="govuk-body">
            You'll enter information based on your organisation type.
          </div>
          <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individualOrOrg" name="individualOrOrg" type="radio" value="Organisation">
              <label class="govuk-label govuk-radios__label" for="individualOrOrg">
                Organisation
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                Includes registered companies with employees. For example, limited companies, partnerships, public limited companies, charities and financial mutuals. 
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individualOrOrg-3" name="individualOrOrg" type="radio"
                value="Individual">
              <label class="govuk-label govuk-radios__label" for="individualOrOrg">
                Individual 
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                Includes people running their own business. For example, sole traders.
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}