{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select yes if you are registered for VAT"
          aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                   <h1 class="govuk-fieldset__heading">Do you know the law under which your organisation is registered?</h1>
          </legend>
          <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lawReg" name="lawReg" type="radio" value="Yes"  data-aria-controls="conditional-law-yes">
              <label class="govuk-label govuk-radios__label" for="lawReg">
                In the UK the law for a Limited Partnership (LP) is the Companies Act 2006
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-law-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="lawName">
                  Enter the law
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="lawName" name="lawName" spellcheck="false" autocomplete="false">
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lawReg-2" name="lawReg" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="lawReg-2">
                No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and exit</button>
  </div>
  </form>


</div>
</div>

{% endblock %}