{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required
          data-error="Enter the law under which the organisation is registered" aria-required="true">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">Enter the law under which your organisation is registered</h1>
          </legend>
          <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
            In the UK the law for a Partnership is the Companies Act 2006.
            <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
              In the UK the law for a Limited Partnership (LP) is the Companies Act 2006.
              <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                In the UK the law for a Limited Liability Partnership (LLP) is the Companies Act 2006.
                <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                  In the UK the law for a Private Limited Company (Ltd) is the Companies Act 2006.
                  <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                    In the UK the law for a Public Limited Company (PLC) is the Companies Act 2006.
                    <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                      In the UK the law for a Comunity Interest Company (CIC) is the Companies (Audit, Investigations and Community Enterprise) Act 2004. 
                      <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                        In the UK the law for a Charitable Incorporated Organisation (CIO) is the Companies (Audit, Investigations and Community Enterprise) Act 2004.
                        <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                          In the UK the law for an Industrial and Provident Society is the Cooperative and Community Benefit Societies Act 2014.
                          <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                            In the UK the law for Financial Mutuals is the Building Societies Act 1986.
                            <div id="lawRegistered-hint" class="govuk-hint govuk-!-margin-bottom-6">
                              (For legal form - Other, or Non-UK) In the UK the Companies House Act 2006 enforces the limited company legal form.

 
          </div>
          </div>
          <input class="govuk-input govuk-input--width-20" name="lawRegistered" id="lawRegistered"
            aria-describedby="lawRegistered" value="{{ data['lawRegistered'] }}">
        </fieldset>
      </div>
      <button class="govuk-button" type="submit">Continue</button>
    </form>
  </div>

</div>
</div>

{% endblock %}