{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">
            <div class="govuk-form-group">
                {% set inputName="legalForm" %}
                {% set heading="How was your organisation registered?" %}
                {% set description="
                    <p class=\"govuk-body\"> The legal structure when it was set up and registered with Companies House or an overseas equivalent.
                      
                      <p>Examples of legal structure in the UK include:</p>
                

                    <ul class=\"govuk-list govuk-list--bullet\">
                            <li>Partnership</li>
                            <li>Limited Partnership (LP)</li>
                            <li>Limited Liability Partnership (LLP)</li>
                            <li>Private Limited Company (Ltd)</li>
                            <li>Public Limited Company (PLC)</li>
                            <li>Community Interest Company (CIC)</li>
                            <li>Charitable Incorporated Organisation (CIO)</li>
                            <li>Industrial and Provident Society</li>
                            <li>Financial Mutual</li>
                            
                    </ul>
                " %}
    
                {% include "../templates/textarea.html" %}
            </div>
            {% include("../templates/button--submit.html") %}
        </form>
    </div>
</div>

    {% endblock %}