{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select Yes if you have any qualifications"
          aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              [Does your organisation/Do you] hold any professional qualifications?
            </h1>
          </legend>
		<div id="qualification-question-hint" class="govuk-hint">
      These are general qualifications for business and trade, not procurement specific. For example, International Organization for Standardization (ISO) certification. 
		  </div>
          <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="qualificationQuestion" name="qualificationQuestion" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="qualificationQuestion">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="qualificationQuestion-2" name="qualificationQuestion" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="qualificationQuestion">
               No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
  </div>
  </form>


</div>
</div>

{% endblock %}