{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Mandatory exclusion grounds
        </h2>

        <span class="govuk-caption-l">
            {{ data['mandatory'] }}
        </span>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                {% if data['eventSub'] == "Supplier" and data['startQuestion'] == "Company" %}

                <h1 class="govuk-heading-l">Enter Tech Innovators's address</h1>

                {% elif data['eventSub'] == "Supplier" and data['startQuestion'] == "Individual" %}

                <h1 class="govuk-heading-l">Enter John Smith's address date</h1>

                {% else %}

                <h1 class="govuk-heading-l">Enter {{ data['subName'] }}'s address</h1>

                {% endif %}

            </legend>

            <form class="form" method="post">
                <div class="govuk-form-group">

                    <div class="govuk-form-group govuk-!-margin-top-3">
                        <label class="govuk-label" for="subject-address-line-1">
                            Address line 1
                        </label>
                        <input class="govuk-input" id="subject-address-line-1" name="subject-address-line-1" type="text"
                            value="{{ data['subject-address-line-1'] }}" autocomplete="subject-address-line1">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="subject-address-town">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="subject-address-town"
                            name="subject-address-town" type="text" value="{{ data['subject-address-town'] }}"
                            autocomplete="subject-address-town">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="subject-address-postcode">
                            Postal or Zip code
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="subject-address-postcode"
                            name="subject-address-postcode" type="text" value="{{ data['subject-address-postcode'] }}"
                            autocomplete="subject-postal-code">
                    </div>
                    <label class="govuk-label govuk-!-margin-top-6" for="subject-address-country">
                        Country
                    </label>

                    <select class="govuk-select autocomplete" id="selectData" name="selectData">

                        <option value=""></option>
                        {% for country in countries %}
                        <option value="{{ country.value }}">{{ country.value }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="govuk-form-group">
                    <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                        Save and continue
                    </button>
                </div>

            </form>
        </fieldset>


    </div>
</div>




{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/script.js"></script>
<script src="/public/javascripts/data.js"></script>
{% endblock %}