{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Share your information and associated declaration
        </h2> -->

        <form class="form" method="post">

            <h1 class="govuk-heading-l">Check your answers</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-3">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Declaration:
                    </dt>

                    <dd class="govuk-summary-list__value">
                        {{ data['declarationStatement'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">
                                declaration</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Declared by:
                    </dt>

                    <dd class="govuk-summary-list__value">
                        {{ data['declarationName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">
                                declared by</span>
                        </a>
                    </dd>
                </div>
              
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Job title:
                    </dt>

                    <dd class="govuk-summary-list__value">
                        {{ data['declarationNameRole'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">
                                job title</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address:
                    </dt>

                    <dd class="govuk-summary-list__value">
                        {{ data['declarationNameEmail'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">
                                email address</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Postal address:
                    </dt>
                    {% if data['declaration-address-line-2'] |length != "0" and
                    data['declaration-address-county'] |
                    length != "0" %}
                    <dd class="govuk-summary-list__value">
                        {{ data['address-line-1'] }}</br>
                        {{ data['address-town'] }}</br>
                        {{ data['address-postcode'] }}</br>
                    </dd>
                    {% else %}
                    <dd class="govuk-summary-list__value">
                        {{ data['address-line-1'] }}</br>
                        {{ data['address-town'] }}</br>
                        {{ data['address-postcode'] }}</br>
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">
                                postal address</span>
                        </a>
                    </dd>
                </div>


            </dl>



    </div>
    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-button-group govuk-!-margin-top-9">
            <button class="govuk-button" data-module="govuk-button">
                Confirm and get share code
            </button>
        </div>

    </div>


    </form>
</div>
</div>

{% endblock %}
