{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-column-ful-width">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" method="post">
                <div class="govuk-form-group">

                    <span class="govuk-caption-l">Your declaration details</span>
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="declarationNameRole">
                            Enter your job title
                        </label>
                    </h1>
                    <input class="govuk-input" id="declarationNameRole" name="declarationNameRole" type="text">

                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>

    </div>
</div>

{% endblock %}


<!--  adding a +44 prefix to


                        <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label" for="declarationNumber">
                                    What is your telephone number?
                                </label>
                            </h1>
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix" aria-hidden="true">+44</div>
                                <input class="govuk-input govuk-input--width-10" id="declarationDetails"
                                    name="declarationNumber" type="text" spellcheck="false">
                            </div>
                        </div>

                         -->
