{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <span class="govuk-caption-l">Share code</span>
      <h1 class="govuk-heading-l">
        HDJ2123F
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created on
          </dt>
          <dd class="govuk-summary-list__value">
            12/6/2024
          </dd>
          <dd class="govuk-summary-list__actions">
            &nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Declared by
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Blogg
          </dd>
          <dd class="govuk-summary-list__actions">
            &nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job title
          </dt>
          <dd class="govuk-summary-list__value">
            Director
          </dd>
          <dd class="govuk-summary-list__actions">
            &nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            joe@someorg.co.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            &nbsp;
          </dd>
        </div>
      </dl>

      <a href="#" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Download
      </a>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--warning"
          data-module="govuk-button">
          Remove share code
      </a> -->
    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
