{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form class="form" method="post">

            <span class="govuk-caption-l">Connected persons</span>
            <h1 class="govuk-heading-l">Check your answers</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Organisation name]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Some Company Limited]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [company name]</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Registered address]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [10 Downing street<br>SW1 2AA]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [registered address]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Different postal address]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [is postal address different?]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Postal address]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [10 Downing street<br>SW1 2AA]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [postal address]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Legal form]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Limited company]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [legal formation]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Enforced by]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Companies Act 2006]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [which law enforces it?]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Companies House registered]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Yes]
                        <br>
                        [Companise House no. 99030938]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [which law enforces it?]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Registered with overseas equivalent]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Yes]
                        <br>
                        [Registration no. given under that Act 99030938]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [is the organisation registered with an overseas equivalent to a company registered under the Companies Act 2006?]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Conditions of control]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Ownership of shared</li>
                            <li>Ownership of voting rights</li>
                        </ul>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [is the organisation registered with an overseas equivalent to a company registered under the Companies Act 2006?]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Registered as PSC]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Yes]
                        <br>
                        [On 1/1/2020]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [where you required to register [person/Org] as a person with significant control]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        [Register name]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        [Other]
                        <br>
                        [Some register]
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [select where [person/Org] is registered as person with significant control]</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    [Contact details]
                </dt>
                <dd class="govuk-summary-list__value">
                    [somecompany@email.com]
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [Contact details]</span></a>
                </dd>
                </div>
            </dl>

            {% set buttonCaption="Save" %}
            {% include("../templates/button--submit.html") %}
        </form>
    </div>
</div>




{% endblock %}
