{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="removeConnectedPerson" %}
            {% set heading="Are you sure you want to remove this connected person?" %}
            {% set revealLabel = "When did the connected person stop being associated with your organisation?" %}

            {% include("../templates/radio-yes-no-reveal-date-extra-yes.html") %}

            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}
