{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="connectedPersonLocation" %}
            {% set headingCaption=data['categoryOfConnectedPerson'] %}
            {% set heading="What country does [person] usually live in?" %}
            {% set options = data['listOfCountries'] %}
            {% set defaultValue = "Select country" %}


            {% include("../templates/select-dropdown.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
