{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" method="post">

      {% set heading="1 added" %}
      {% set headingCaption="Trade assurances" %}
      {% set secondHeading="Add another trade assurance?" %}
      {% set placeholderListItem="Red Tractor Assurance" %}
      {% set placeholderListItemValue="Awarded on 10 Jan 1999" %}
      {% set removeLink="remove-trade" %}
  
  
      {% include("../templates/add-another.html") %}
  
      {% include("../templates/button--submit.html") %}

    </form>


  </div>
</div>

{% endblock %}