{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form class="form" method="post">

      {% set heading="Check your answers" %}
      {% set headingCaption="Qualifications" %}

      {% set options=[] %}
      {% set options=(options.push({k:"Qualification name", v:"Some ISO qualification"}), options) %}
      {% set options=(options.push({k:"Awarded by", v:"Red Tractor Assurance"}), options) %}
      {% set options=(options.push({k:"Date awarded", v:"10 January 1989"}), options) %}

      {% include("../templates/check-answer.html") %}

      {% set buttonCaption="Save" %}
      {% include("../templates/button--submit.html") %}


  

    </form>
  </div>
</div>

{% endblock %}