{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required
          data-error="Enter the date trading began or registered under the companies act 2006" aria-required="true">

          {% if data['caQuestion'] == 'Yes' %}

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">What date was your organisation registered?</h1>
          </legend>
          <div class="govuk-body">
            The incorporation date with <a href="https://www.gov.uk/government/organisations/companies-house">Companies House (opens in new tab) </a>
          <p>

          </p><div id="date-registered-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>

          <div class="govuk-date-input" id="formation">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="formationDay">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationDay"
                  name="formationDay" type="text" inputmode="numeric" value="{{ data['formationDay'] }}">>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="formationMonth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationMonth"
                  name="formationMonth" type="text" inputmode="numeric" value="{{ data['formationMonth']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="formationYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="formationYear"
                  name="formationYear" type="text" inputmode="numeric" value="{{ data['formationYear']}}">
              </div>
            </div>

            {% else %}

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">What date was your organisation registered?</h1>
           <div class="govuk-body">
            For non-UK organisations, this is registration with an overseas equivalent to Companies House. If you're unsure, enter the date your organisation started trading.
           <p></p>

            <div id="equivalent-date-registered-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>

            <div class="govuk-date-input" id="formation">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="formationDay">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationDay"
                    name="formationDay" type="text" inputmode="numeric" value="{{ data['formationDay'] }}">>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="formationMonth">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="formationMonth"
                    name="formationMonth" type="text" inputmode="numeric" value="{{ data['formationMonth']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="formationYear">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="formationYear"
                    name="formationYear" type="text" inputmode="numeric" value="{{ data['formationYear']}}">
                </div>
              </div>

              {% endif %}

        </fieldset>
      </div>
      <button class="govuk-button" type="submit">Save</button>
    </form>
  </div>

</div>
</div>

{% endblock %}
