{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Add an organisation</span>
    </h1>

    <p>Begin by adding your organisation. If you have more than one organisation to manage, you can add additional organisations after you've added the first one.</p>

    <a href="org-type" class="govuk-button">Add organisation</a>

  </div>
</div>

{% endblock %}



      
