{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Your account</span>
    </h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sign in details</th>
          <th scope="col" class="govuk-table__header"></th>          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">
            Email address:
          </td>
          <td scope="row" class="govuk-table__cell">
            john@supplier.com
          </td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body"> You use your GOV.UK One Login to sign in to Find a Tender. You can change below details in your GOV.UK One Login:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>email address</li>
      <li>password</li>
      <li>how you get security codes to sign in?</li>
    </ul>
  </p>
  <a class="govuk-link govuk-link--no-visited-state" href="https://home.account.gov.uk/settings">
    Change your sign in details in your GOV.UK One Login
  </a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l"> Register as a buyer or supplier</span>
    </h1>

      <p class="govuk-body">
        Buyers can publish notices and share information with eSenders. Suppliers can bid on procurements and share supplier information.
        You can register more organisations later if needed.
      </p>
                
    <a class="govuk-button" href="org-type"
      >Register</a>
  </div>
</div>

{% endblock %}
