{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Does your organisation have a Companies House number?
                    </h1>
                </legend>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="chno" name="chno" type="radio" value="Yes" data-aria-controls="conditional-chno" {% if data['chno'] == 'Yes' %} checked {% endif %} >
                        <label class="govuk-label govuk-radios__label" for="chno">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-chno">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="chnoInput">
                            Companies House number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="chnoInput" name="chnoInput" value="{{ data['chnoInput'] }}" >
                        </div>
                    </div>
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="noChno" name="chno" type="radio" value="No" {% if data['chno'] == 'No' %} checked {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="noChno">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
