{% extends "layouts/main.html" %} {% block header %} {% include("includes/header-with-nav.html") %} {% endblock %} {% block beforeContent %} {%
include("includes/phase-banner.html") %} {% include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form action="org-name">
      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="registry-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is your organisation on any of these registries? 
              </h1>
            </legend>

            <div id="registry-hint" class="govuk-hint">
              Select one then enter the registration number 
            </div>

            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registry1" name="registry" type="radio" value="registry1" data-aria-controls="conditional-registry1">
                <label class="govuk-label govuk-radios__label" for="registry1">
                  Abu Dhabi Chamber of Commerce and Industry  - Online Commercial Directory 
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registry1">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-registry1">
                    Registration number
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="option-registry1" name="option-registry1">
                </div>
              </div>
            </div>


            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registry2" name="registry" type="radio" value="registry2" data-aria-controls="conditional-registry2">
                <label class="govuk-label govuk-radios__label" for="registry2">
                  Ajman Chamber of Commerce and Industry  - Commercial Register
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registry2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-registry2">
                    Registration number
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="option-registry2" name="option-registry2">
                </div>
              </div>
            </div>

            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registry3" name="registry" type="radio" value="registry3" data-aria-controls="conditional-registry3">
                <label class="govuk-label govuk-radios__label" for="registry3">
                  Dubai Chamber of Commerce and Industry - Commercial Directory 
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registry3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-registry3">
                    Registation number
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="option-registry3" name="option-registry3">
                </div>
              </div>
            </div>

            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registry4" name="registry" type="radio" value="registry4" data-aria-controls="conditional-registry4">
                <label class="govuk-label govuk-radios__label" for="registry4">
                  Fujairah Chamber of Commerce and Industry - Online Directory 
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registry4">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-registry4">
                    Registration number
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="option-registry4" name="option-registry4">
                </div>
              </div>
            </div>


            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="registryOther" name="registry" type="radio" value="registryOther" data-aria-controls="conditional-registryOther">
                <label class="govuk-label govuk-radios__label" for="registryOther">
                  Other
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registryOther">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-registryOther">
                    Registry name
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="option-registryOther" name="option-registryOther">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-registryOther2">
                    Registration number
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="option-registryOthe2r" name="option-registryOther2">
                </div>
              </div>


          </fieldset>
        </div>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
