{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
      <input type="hidden" id="addressTypeBasic" name="addressTypeBasic" value="Yes">
      <fieldset class="govuk-fieldset" aria-describedby="hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Enter your organisation's registered address
          </h1>
        </legend>
        <div id="hint" class="govuk-hint">The address recorded on public records or within the public domain</div>
        <p>
          <a href="org-address-overseas">Enter a non-UK address</a>
        </p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="postal-address-line-1" type="text" value="{{ data['postal-address-line-1'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="addressTown" name="postal-address-town" type="text" value="{{ data['postal-address-town'] }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="addressPostcode" name="postal-address-postcode" type="text" value="{{ data['postal-address-postcode'] }}">
        </div>
      </fieldset>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
