
<h3 class="govuk-heading-m">Before you start</h3>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="before-you-start-2-status">
        Read this
      </a>
    </div>
    <div class="govuk-task-list__status" id="before-you-start-2-status">
      <strong class="govuk-tag govuk-tag--blue">
        Incomplete
      </strong>
    </div>
  </li>
</ul>
<h3 class="govuk-heading-m govuk-!-margin-top-5">Your supplier information</h3>

<ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="{{ href }}" aria-describedby="prepare-application-1-status">
        Your organisation details
      </a>
    </div>
    <div class="govuk-task-list__status" id="prepare-application-1-status">
      Completed
    </div>
  </li>


  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="{{ href }}" aria-describedby="prepare-application-2-status">
        Add a connected person
      </a>
    </div>
    <div class="govuk-task-list__status" id="prepare-application-2-status">
      <strong class="govuk-tag govuk-tag--blue">
        Incomplete
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="{{ href }}" aria-describedby="prepare-application-3-status">
        List any exclusions
      </a>
    </div>
    <div class="govuk-task-list__status" id="prepare-application-3-status">
      Completed
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="{{ href }}" aria-describedby="prepare-application-5-status">
        Upload financial information
      </a>
    </div>
    <div class="govuk-task-list__status" id="prepare-application-5-status">
      <strong class="govuk-tag govuk-tag--blue">
        Incomplete
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="suppliers-c/qualification-question" aria-describedby="prepare-application-7-status">
       Add a relevant qualification
      </a>
    </div>
    <div class="govuk-task-list__status" id="prepare-application-7-status">
      <strong class="govuk-tag govuk-tag--blue">
        Incomplete
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="suppliers-c/trade-question" aria-describedby="prepare-application-8-status">
        Include any trade assurances
      </a>
    </div>
    <div class="govuk-task-list__status" id="prepare-application-8-status">
      <strong class="govuk-tag govuk-tag--blue">
        Incomplete
      </strong>
    </div>
  </li>
</ul>

<p class="govuk-body">Create a share code once you've completed all sections. You'll be asked for this share code if you apply for a tender.</p>
        <a href="download/manage-codes" role="button" draggable="false" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
          Create share code
        </a>
