{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Your supplier information
    </h1>

  <p class="govuk-body">
  To take part in public procurement you must register as a supplier and complete your supplier informaton. Once completed you can create a share code. You'll be asked for the share code when bidding on a tender.
  </p>
  <p class="govuk-body">

  </p>
  <p class="govuk-body">
    For example, a director, a trust, a majority shareholder or a parent or subsidiary company.
  </p>

  <a class="govuk-button" href="has-connected-person">Continue</a>

</div>
</div>

{% endblock %}
