{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
      <div class="govuk-form-group">
              <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds govuk-body">
                <form method="post">
                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--l" for="APIKeyName">
                        Name your API key
                      </label>
                    </h1>
                    <div id="hint" class="govuk-hint">
                      The name will be shown in your list of API keys to make it
                      easierto find. We recommend using the name of the service
                      you will be using the API key to integrate with.
                    </div>
                    <input
                      class="govuk-input govuk-!-width-two-thirds"
                      id="APIKeyName"
                      name="APIKeyName"
                      type="text"
                      aria-describedby="hint"
                      value="{{ data['APIKeyName'] }}"
                    />
                  </div>
                </form>
              </div>
            </div>
      
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
