{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" method="post">
      <h1 class="govuk-heading-l">
        There are 3 API keys for this organisation
      </h1>

      <div class="govuk-form-group">
        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dt class="govuk-summary-list__key">Date Created</dt>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">API Key 1</dd>
            <dd class="govuk-summary-list__value">07/03/2024</dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="revoke-api-key.html">Revoke</a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">API Key 2</dd>
            <dd class="govuk-summary-list__value">12/06/2024</dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="revoke-api-key.html">Revoke</a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">API Key 3</dd>
            <dd class="govuk-summary-list__value">23/04/2024</dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="revoke-api-key.html">Revoke</a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>

      <h1 class="govuk-heading-l">
        There are 2 API keys revoked for this organisation
      </h1>

      <div class="govuk-form-group">
        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dt class="govuk-summary-list__key">Date Revoked</dt>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">API Key 4</dd>
            <dd class="govuk-summary-list__value">12/03/2024</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">API Key 5</dd>
            <dd class="govuk-summary-list__value">08/02/2024</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">API Key 3</dd>
            <dd class="govuk-summary-list__value">23/04/2024</dd>
          </div>
        </dl>
      </div>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button" data-module="govuk-button">
          Create an API key
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
