{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" method="post">
      <h1 class="govuk-heading-l">
        There are 3 API keys for this organisation
      </h1>

      <div class="govuk-form-group">
        <dl class="govuk-summary-list ros-add-to-a-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">API Key</dt>
            <dt class="govuk-summary-list__key">Department</dt>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">PPAATT74889QOYTR</dd>
            <dd class="govuk-summary-list__value">DEFRA</dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="revoke-api-key.html">Remove</a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">SSNNTT74889QOYTOU</dd>
            <dd class="govuk-summary-list__value">DESNZ</dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="revoke-api-key.html">Remove</a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">AAKKAATT74889PPO</dd>
            <dd class="govuk-summary-list__value">MOD</dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="revoke-api-key.html">Remove</a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button" data-module="govuk-button">
          Create an API key
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
