{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">New API key</h1>

    <h2 class="govuk-heading-m">Your API key:</h2>
    <h2 class="govuk-heading-m">jjsdhjhjheuoitr18984mnkzk01</h2>

    <a class="govuk-button govuk-button--secondary" href=""
      >Copy to clipboard</a
    >

    <p class="govuk-body">
      You should keep a copy of this API key somewhere safe.
    </p>
    <p class="govuk-body">
      When you leave this screen, you will not be able to see this API key again
    </p>

    <a
      class="govuk-link govuk-link--no-visited-state"
      href="manage-API-key.html"
      >Back to your API keys</a
    >
  </div>
</div>

{% endblock %}
