{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-column-ful-width">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">New API key is created</h1>
    <div class="govuk-panel__body">
      Your API key<br /><strong>HDJ2123FP489HJABN</strong>
      <div class="govuk-button-group">
        <button
          class="govuk-button govuk-button--inverse"
          data-module="govuk-button"
        >
          Copy to clipboard
        </button>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      You should keep a copy of this API key somewhere safe.
    </p>
    <p class="govuk-body">
      When you leave this screen, you will not be able to see this API key again
    </p>

    <a
      class="govuk-link govuk-link--no-visited-state"
      href="manage-API-key.html"
      >Back to your API keys</a
    >
  </div>
</div>

{% endblock %}
