{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <!-- <form method="post" action="org-overview">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="org-address">
            Enter the organisation's registered non-UK address
          </label>
        </h1>
        <div id="hint" class="govuk-hint">The address of the company or organisation which is recorded on public records or within the public domain. This will be displayed on notices.</div>
        <textarea class="govuk-textarea" id="org-address" name="org-address" rows="5" aria-describedby="hint"></textarea>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form> -->

    <h1 class="govuk-heading-l">
        Enter the organisation's registered non-UK address
    </h1>

   <p>The address of the company or organisation which is recorded on public records or within the public domain. This will be displayed on notices.</p>

    <form method="post" action="org-overview">
      <div class="govuk-form-group">

          <div class="govuk-form-group govuk-!-margin-top-3">
              <label class="govuk-label" for="connectedPersonsPscNi-address-line-1">
                  Address line 1
              </label>
              <input class="govuk-input" id="connectedPersonsPscNi-address-line-1"
                  name="connectedPersonsPscNi-address-line-1" type="text"
                  autocomplete="connectedPersonsPscNi-address-line1">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label" for="connectedPersonsPscNi-address-line-2">
                  Address line 2 (optional)
              </label>
              <input class="govuk-input" id="connectedPersonsPscNi-address-line-2"
                  name="connectedPersonsPscNi-address-line-2" type="text"
                  autocomplete="connectedPersonsPscNi-address-line-2">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label" for="connectedPersonsPscNi-address-town">
                  Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="connectedPersonsPscNi-address-town"
                  name="connectedPersonsPscNi-address-town" type="text"
                  autocomplete="connectedPersonsPscNi-address-town">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label" for="connectedPersonsPscNi-address-postcode">
                  County, State or Province (optional)
              </label>
              <input class="govuk-input govuk-input--width-20" id="connectedPersonsPscNi-address-county"
                  name="connectedPersonsPscNi-address-county" type="text"
                  autocomplete="connectedPersonsPscNi-address-county">
          </div>
          <div class="govuk-form-group">
              <label class="govuk-label" for="connectedPersonsPscNi-address-postcode">
                  Postal or ZIP Code
              </label>
              <input class="govuk-input govuk-input--width-10" id="connectedPersonsPscNi-address-postcode"
                  name="connectedPersonsPscNi-address-postcode" type="text"
                  autocomplete="connectedPersonsPscNi-postal-code">
          </div>
          <label class="govuk-label govuk-!-margin-top-6" for="connectedPersonsPscNi-address-country">
              Country
          </label>

          <select class="govuk-select autocomplete" id="selectData" name="selectData">

              <option value=""></option>
              {% for country in countries %}
              <option value="{{ country.value }}">{{ country.value }}</option>
              {% endfor %}

          </select>

      </div>
      <div class="govuk-form-group">
          <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
              Save and continue
          </button>
      </div>

  </form>
  </div>
</div>

{% endblock %}
