{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post" action="org-overview">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="org-address">
            Enter your organisation address
          </label>
        </h1>
        <textarea class="govuk-textarea" id="org-address" name="org-address" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
