{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post" action="org-email">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="org-name">
              Enter the organisation name
            </label>
          </h1>
          <input class="govuk-input govuk-!-width-two-thirds" id="org-name" name="orgName" type="text">
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
