{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">


    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Random Limited</span>
    </h1>

    <h2 class="govuk-heading-m">Organisation details</h2>
    
    <dl class="govuk-summary-list">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registering as
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Supplier</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> registering as</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Companies House Number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Identification number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Charity Commission for England and Wales</p>
          <p class="govuk-body">12345678</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Random Limited</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation email
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">info@organisationlimited.co.uk</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>
            10 Downing Street
            <br>
            SW1A 2AA
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualifications
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">None</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Trade assurances
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">None</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">A small or medium-sized enterprise</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Legal form
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Limited company <br>
            Companies house<br>
            1/1/1999
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>


    </dl>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Connected persons</h2>

    {% if (data['connectedPersonCount'] == "1") %}

        {% set href="connected/add-another-connected-person" %}
        {% set value = "1 connected person" %}
        {% set status = "Completed" %}

      {% elif data['addAnotherConnectedPerson'] | length != "0" and data['connectedPersons'] | length
        != "0" %}

        {% set href="connected/add-another-connected-person" %}
        {% set value =  data ['connectedPersonCount'] + " connected persons" %}
        {% set status = "Completed" %}

      {% elif data['connectedPsc'] == "No" %}

        {% set href="connected/connected-question" %}
        {% set value =  "No connected persons" %}
        {% set status = "Completed" %}

      {% elif data['connectedPsc'] | length != "0" and data['connectedPersons'] | length != "0" %}

        {% set href="connected/connected-question" %}
        {% set value =  "" %}
        {% set status = "In progress" %}

      {% else %}

        {% set href="connected/connected-question" %}
        {% set value =  "" %}
        {% set status = "Not started" %}

    {% endif %}

    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ href }}">Connected persons</a>
        </dt>
        <dd class="govuk-summary-list__value">
          {{ value }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag">{{ status }}</strong>
        </dd>
      </div>
      
    </dl> 

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Mandatory exclusions</h2>

        
    {% if data['addAnotherExclusionMan'] | length != "0" and data['exclusionManArray'] | length >=
    "2" %}

      {% set href="mandatory/add-another-exclusion" %}
      {% set value = data ['exclusionManCount'] + " mandatory exclusions" %}
      {% set status = "Completed" %}
      

    {% elif data['addAnotherExclusionMan'] | length != "0" %}

      {% set href="mandatory/add-another-exclusion" %}
      {% set value = data ['exclusionManCount'] + " mandatory exclusion" %}
      {% set status = "Completed" %}
      

    {% elif data['exclusionMan'] == 'None of the above' %}

      {% set href="mandatory/exclusion-grounds" %}
      {% set value = "No mandatory exclusions" %}
      {% set status = "Completed" %}
      

    {% elif data['eventSub'] | length != "0" %}

      {% set href="mandatory/mandatory/check-answers" %}
      {% set value = "" %}
      {% set status = "In progress" %}
      
      
    {% else %}

      {% set href="mandatory/exclusion-grounds" %}
      {% set value = "" %}
      {% set status = "Not started" %}
      

    {% endif %}
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ href }}">Mandatory exclusions</a>
        </dt>
        <dd class="govuk-summary-list__value">
          {{ value }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag">{{ status }}</strong>
        </dd>
      </div>
      
    </dl>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Discretionary exclusions</h2>

        
    {% if data['addAnotherExclusion'] | length != "0" and data['exclusionArray'] | length >= "2" %}

      {% set href="discretionary/add-another-exclusion" %}
      {% set value = data ['exclusionCount'] + " discretionary exclusions" %}
      {% set status = "Completed" %}
      

    {% elif data['addAnotherExclusion'] | length != "0" %}

      {% set href="discretionary/add-another-exclusion" %}
      {% set value = data ['exclusionCount'] + " discretionary exclusion" %}
      {% set status = "Completed" %}
      

      {% elif data['exclusionDis'] == 'None of the above' %}

      {% set href="discretionary/exclusion-grounds" %}
      {% set value = "No discretionary exclusions" %}
      {% set status = "Completed" %}
      

      {% elif data['eventSubDis'] | length != "0" %}

      {% set href="discretionary/check-answers" %}
      {% set value = "" %}
      {% set status = "In progress" %}
      
      
    {% else %}

      {% set href="discretionary/exclusion-grounds" %}
      {% set value = "" %}
      {% set status = "Not started" %}
      

    {% endif %}
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ href }}">Discretionary exclusions</a>
        </dt>
        <dd class="govuk-summary-list__value">
          {{ value }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag">{{ status }}</strong>
        </dd>
      </div>
      
    </dl>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Economic and Financial Standing</h2>

    {% if data['addAnotherFile'] == "No" %}

      {% set href="economical/check-answers" %}
      {% set value = "" %}
      {% set status = "Completed" %}
      
    {% elif data['financialStandIn'] | length != "0" and data['financialsYear'] | length == "0" %}

      {% set href="economical/financial-question" %}
      {% set value = "" %}
      {% set status = "In progress" %}

    {% else %}

      {% set href="economical/financial-question" %}
      {% set value = "" %}
      {% set status = "Not started" %}
      
    {% endif %}

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ href }}">Economic and Financial Standing</a>
        </dt>
        <dd class="govuk-summary-list__value">
          {{ value }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag">{{ status }}</strong>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Users</h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Users</a>
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['userCount'] }} Users
        </dd>
        <dd class="govuk-summary-list__actions">
          &nbsp;
        </dd>
      </div>
    </dl>
   
  </div>
</div>

{% endblock %}
