{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
        <form class="form" method="post">

            {% set heading="Check your answers" %}
            {% set headingCaption="Qualifications" %}
      
            {% set options=[] %}
            {% set options=(options.push({k:"Audited accounts", v:"Yes"}), options) %}
            {% set options=(options.push({k:"File uploaded", v:"audited-accounts-2020-2021.pdf"}), options) %}
            {% set options=(options.push({k:"Date of financial year end", v:"5 April 2023"}), options) %}
            
      
            {% include("../templates/check-answer.html") %}
      
            {% set buttonCaption="Save" %}
            {% include("../templates/button--submit.html") %}

            
        </form>

</div>

{% endblock %}