{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Economic and Financial Standing
        </h2> --> 

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required data-error="Select the connected person"
                    aria-required="true">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Were your accounts audited?
                        </h1>
                    </legend>
                    
                    <!--<p class="govuk-body">Your most recent 2 financial years, or your most recent financial year.</p>
                    <p>If they did not require an audit, you'll need accounts or financial statements for your most recent financial year. </p>-->
                    <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fileState" name="fileState" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="fileState">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fileState-2" name="fileState" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="fileState-2">
                                No
                            </label>
                        </div>
                        <!-- <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fileState-3" name="fileState" type="radio"
                                value="Upload accounts or other information which is equivalent to information contained in accounts audited."
                                aria-describedby="fileState-3-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="fileState-3">
                                Financial information for our most recent financial year. Our accounts did not require an audit.
                            </label>
                            <div id="fileState-3-item-hint" class="govuk-hint govuk-radios__hint">
                                In accordance with Part 16 of the Companies Act 2006
                            </div>
                        </div> -->
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
    </div>
    </form>


</div>
</div>

{% endblock %}