<!--
{*% set inputName="natureOfControl" %*}
{*% set heading="Heading" %*}

---- Radio options ----
{*% set options=[] %*}
{*% set optionHints=[] %*}
{*% set optionReveals=[false,"Label",...] %*}

{*% set options=(options.push("Owns shares"), options) %*}
{*% set optionHints=(optionHints.push("Directly or indirectly holds more than 25% of the company's shares"), optionHints) %*}
---- Radio options ----

Optional:
{*% set headingCaption="Heading caption" %*}
{*% set hintText="hint text..." %*}
-->

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" {% if hintText %}aria-describedby="{{ inputName }}Hint"{% endif %}>
      {% include "./fieldset-legend.html" %}
  
      {% include "./hint-text.html" %}
  
      {% include "./radio-options.html" %}
    </fieldset>
  </div>
  
  