<!--
{*% set inputName="connectedPerson" %*}
{*% set heading="Enter the organisation's name" %*}


OPTIONAL:
{*% set hintText="[hint text here...]" %*}
{*% set showCharacterCount=true %*}
-->


<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="{{ inputName }}">{{ heading }}</label>
    </h1>

    {% if description %}
      {{ description|safe }}
    {% endif %}
    
    {% include "./hint-text.html" %}

    <textarea class="govuk-textarea govuk-js-character-count" id="{{ inputName }}" name="{{ inputName }}" rows="5" aria-describedby="{% if showCharacterCount %}char-count{% endif %} {% if hintText %}{{ inputName }}-hint{% endif %}"></textarea>
    
    {% if showCharacterCount %}
    <div id="char-count" class="govuk-hint govuk-character-count__message">
      You can enter up to 1000 characters
    </div>
    {% endif %}
</div>