{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="APIKeyName">
            Name your API key
          </label>
        </h1>
        <div id="hint" class="govuk-hint">
          The name will help you identify keys as we only show the actual API key once on the confirmation page. You could use the name of the service the API key is for. For example, XXXXX.
        </div>
        <input
          class="govuk-input govuk-!-width-two-thirds"
          id="APIKeyName"
          name="APIKeyName"
          type="text"
          aria-describedby="hint"
          value="{{ data['APIKeyName'] }}"
        />
      </div>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
