<!--
{*% set heading="You have added [x] exclusions" %*}
{*% set secondHeading="Add another exclusion?" %*}
{*% set placeholderListItem="[Exclusion]" %*}
{*% set removeLink="#" %*}

Optional
{*% set headingCaption="You have added [x] exclusions" %*}
-->
{% include "./heading-caption.html" %}
<h1 class="govuk-heading-l">
    {{heading}}
</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{placeholderListItem}}
              </dt>
              <dd class="govuk-summary-list__value">
                {{placeholderListItemValue}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="check-answers">View<span class="govuk-visually-hidden"> {{placeholderListItem}}</span></a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="{{ removeLink }}">Remove<span class="govuk-visually-hidden"> [Connected person]</span></a>
                  </li>
                </ul>
              </dd>
            </div>
          </dl>
    </div>
</div>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
            {{ secondHeading }}
        </h2>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addAnother" name="addAnother" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="addAnother">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addAnother-2" name="addAnother" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="addAnother-2">
                No
              </label>
            </div>
          </div>
    </fieldset>
</div>