<!--
{*% set inputName="connectedPerson" %*}
{*% set heading="Enter the organisation's name" %*}


OPTIONAL:
{*% set headingCaption="[Caption]" %*}
{*% set hintText="[hint text here...]" %*}
{*% set value="[some value]" %*}
-->


<div class="govuk-form-group">

{% if displayHeadingAsLabel %}
    <label class="govuk-label" for="{{ inputName }}">{{ heading }}</label>
{% else %}
    {% include "./heading-caption.html" %}

    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="{{ inputName }}">{{ heading }}</label>
    </h1>
{% endif %}

    {% include "./hint-text.html" %}
    
    <input class="govuk-input govuk-!-width-two-thirds" name="{{ inputName }}" id="{{ inputName }}" type="text" {% if hintText %}aria-describedby="{{ inputName }}-hint"{% endif %} {% if value %}value="{{ value }}"{% endif %}>
</div>