<!--
{*% set inputName="connectedPerson" %*}
{*% set heading="Enter the organisation's name" %*}
{*% set label1="label1" %*}
{*% set label2="label2" %*}


OPTIONAL:
{*% set headingCaption="[Caption]" %*}
{*% set hintText1="[hint text here...]" %*}
{*% set hintText2="[hint text here...]" %*}
-->


{% include "./heading-caption.html" %}

<h1 class="govuk-heading-l">
    {{ heading }}
</h1>

<div class="govuk-form-group">
    <label class="govuk-label" for="{{ inputName }}-1">
       {{ label1 }}
    </label>
    <div id="{{ inputName }}-hint-1" class="govuk-hint">
        {{ hintText1 }}
    </div>
    <input class="govuk-input" id="{{ inputName }}-1" name="{{ inputName }}-1" type="text" {% if hintText1 %}aria-describedby="{{ inputName }}-hint-1"{% endif %}>
</div>

<div class="govuk-form-group">
    <label class="govuk-label" for="{{ inputName }}-2">
        {{ label2 }}
    </label>
    <div id="{{ inputName }}-hint-2" class="govuk-hint">
        {{ hintText2 }}
    </div>
    <input class="govuk-input" id="{{ inputName }}-2" name="{{ inputName }}-2" type="text" {% if hintText2 %}aria-describedby="{{ inputName }}-hint-2"{% endif %}>
</div>

