{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      {% if data['caQuestion'] == 'Yes' %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select the organisation's registered legal form"
          aria-required="true" aria-describedby="legalForm-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select your organisation's legal form
            </h1>
          </legend>



          <div id="legalForm-hint" class="govuk-hint govuk-!-margin-bottom-6">
            When it was set up and registered, what structure was used. 
          </div>

          <div class="govuk-radios" data-module="govuk-radios">

            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-1" name="legalForm" type="radio"
                value="Partnership">
              <label class="govuk-label govuk-radios__label" for="legalForm-1">
                Partnership
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Limited partnership">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Limited Partnership (LP)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Limited liability partnership">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Limited Liability Partnership (LLP)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Private limited company">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Private Limited Company (Ltd)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Public limited liability company">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Public Limited Company (PLC)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-3" name="legalForm" type="radio"
                value="Limited partnership">
              <label class="govuk-label govuk-radios__label" for="legalForm-3">
                Community Interest Company (CIC)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Charitable incorporated organisation">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Charitable Incorporated Organisation (CIO)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Industrial and provident society">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Industrial and Provident Society
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Financial mutuals">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Financial Mutuals
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-4" name="legalForm" type="radio" value="Other :" data-aria-controls="conditional-legalForm-4">
              <label class="govuk-label govuk-radios__label" for="legalForm-4">
                Other
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-legalForm-4">
              <div class="govuk-form-group">
                <label class="govuk-label" for="legalForm-by-text">
                  Enter details
                </label>
                <input class="govuk-input" id="legalForm-by-text" name="legalFormByText"
                  value="{{ data['legalFormByText'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      

          {% else %}


          <!-- <div id="legalForm-hint" class="govuk-hint govuk-!-margin-bottom-6">
            Legal form is the organisation equivalent to the Companies Act.
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Partnership"
                data-aria-controls="conditional-legalForm-2">
              <label class="govuk-label govuk-radios__label" for="legalForm-2">
                Sole trader
              </label>
            </div>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Partnership"
                  data-aria-controls="conditional-legalForm-2">
                <label class="govuk-label govuk-radios__label" for="legalForm-2">
                  Unincorporated association
                </label>
              </div>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Partnership"
                    data-aria-controls="conditional-legalForm-2">
                  <label class="govuk-label govuk-radios__label" for="legalForm-2">
                    Partnership
                  </label>
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Partnership"
                      data-aria-controls="conditional-legalForm-2">
                    <label class="govuk-label govuk-radios__label" for="legalForm-2">
                      Limited partnership
                    </label>
                  </div>

                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="legalForm-2" name="legalForm" type="radio" value="Partnership"
                        data-aria-controls="conditional-legalForm-2">
                      <label class="govuk-label govuk-radios__label" for="legalForm-2">
                        Trust
                      </label>
                    </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalForm-3" name="legalForm" type="radio" value="Other :"
                data-aria-controls="conditional-legalForm-3">
              <label class="govuk-label govuk-radios__label" for="legalForm-3">
                Other
              </label>
            </div> -->
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="legalForm-by-text">
                    Enter your organisation's registered legal form
                  </label>
                </h1>
                <input class="govuk-input" id="legalForm-by-text" name="legalForm"
                  value="{{ data['legalForm'] }}">
              </div>

            {% endif %}





      <button class="govuk-button" type="submit">Save and continue</button>
    </form>
  </div>


</div>

{% endblock %}
