{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                {% if data['addressSecond'] | length == "0" %}
                <h1 class="govuk-fieldset__heading">
                    Enter your organisation's UK postal address
                </h1>
<p></p>
                <div id="event-name-hint" class="govuk-hint">

                    The place where an organisation receives official post can be different from its registered address. For example, a branch office.
                </div>
                {% else %}
                <h1 class="govuk-fieldset__heading">
                    Address not found, enter your organisation's postal address
                </h1>
                {% endif %}
            </legend>
            <!-- <div id="hint" class="govuk-hint">The address of the company or organisation which is recorded on public records or within the public domain. This will be displayed on notices.</div> -->
            <p>
              <a href="postal-address">Enter a non-UK address</a>
            </p>


            <form class="form" method="post">
                <div class="govuk-form-group">

                    <div class="govuk-form-group govuk-!-margin-top-3">
                        <label class="govuk-label" for="postal-uk-address-line-1">
                            Address line 1
                        </label>
                        <input class="govuk-input" id="postal-uk-address-line-1" name="postal-uk-address-line-1"
                            type="text" value="{{ data['postal-uk-address-line-1'] }}"
                            autocomplete="postal-uk-address-line-1">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postal-uk-address-town">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="postal-uk-address-town"
                            name="postal-uk-address-town" type="text" value="{{ data['postal-uk-address-town'] }}"
                            autocomplete="postal-uk-address-town">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postal-uk-address-postcode">
                            Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="postal-uk-address-postcode"
                            name="postal-uk-address-postcode" type="text"
                            value="{{ data['postal-uk-address-postcode'] }}" autocomplete="postal-uk-address-postcode">
                    </div>

                </div>
                <div class="govuk-form-group">
                    <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
                        Save and exit
                    </button>
                </div>

            </form>
        </fieldset>


    </div>
</div>




{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/script.js"></script>
<script src="/public/javascripts/data.js"></script>
{% endblock %}