{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset" data-required data-error="Enter the qualification name" aria-required="true">

            <form class="form" method="post">

                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">Enter the name of the qualification</h1>
                    </legend>
                    <div id="qualification-name-hint" class="govuk-hint">
                        For example, Professional Body Memberships such as Chartered Institute of Procurement and Supply (CIPS) or British Standards Institution (BSI).
                      </div>
                    <input class="govuk-input govuk-input--width-20" name="qualifiedName" id="qualifiedName" type="text"
                        aria-describedby="qualifiedName" value="{{ data['qualifiedName'] }}">
                </div>
                <button class="govuk-button" type="submit">Save and continue</button>
            </form>

        </fieldset>
    </div>

</div>
</div>

{% endblock %}