{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Select or add an organisation</span>
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">List of organisations</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation name</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Random Limited
            <span class="govuk-hint govuk-!-display-block">10 Downing Street</span>
          </th>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="org-overview">Select</a></td>
        </tr>
      </tbody>
    </table>

    <a href="org-type" class="govuk-button">Add organisation</a>

  </div>
</div>

{% endblock %}



      
