{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form action="do-devolved-regulations-apply">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select your buyer organisation type
            </h1>
          </legend>
          <p class="govuk-body">Read the <a href="https://www.gov.uk/government/publications/procurement-act-2023-guidance-documents-plan-phase/guidance-contracting-authority-definition-html" target="https://www.gov.uk/government/publications/procurement-act-2023-guidance-documents-plan-phase/guidance-contracting-authority-definition-html">contracting authority definition guidance (opens in new tab). </a>
          </p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ca-type" name="ca-type" type="radio" value="type1" aria-describedby="ca-type-item-hint">
              <label class="govuk-label govuk-radios__label" for="ca-type">
                Central government - UK or devolved administrations  
              </label>

              <div id="ca-type-item-hint" class="govuk-hint govuk-radios__hint">
                Includes councils, charities, educational institutions, housing associations and blue light organisations 
                <!--<details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Show more
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Includes arm's-length bodies such as:
                    <ul>
                      <li>executive agencies (EA)</li>
                      <li>non-departmental public bodies (NDPB)</li>
                      <li>non-ministerial departments (NMD)</li>
                      <li>Trading Funds</li>
                    </ul>
                  </div>
                </details>-->

              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ca-type-2" name="ca-type" type="radio" value="type2" aria-describedby="ca-type-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="ca-type-2">
                Regional and local public authorities - UK or devolved administrations 
              </label>
              <div id="ca-type-2-item-hint" class="govuk-hint govuk-radios__hint">
                Includes councils, charities, educational institutions, housing associations and blue light organisations 

              <!--  <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Show more
                      </span>
                      </summary>
                      <div class="govuk-details__text">
                        Includes:
                <ul>
                  <li>unitary authorities</li>
                  <li>county, district, borough and parish councils</li>
                  <li>the Greater London Authority</li>
                  <li>charities</li>
                  <li>housing associations</li>
                  <li>blue light organisations - ambulance, police, and other emergency services</li>

                </ul>
              </div>
            </details>-->
              </div>
            </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ca-type-3" name="ca-type" type="radio" value="type3" aria-describedby="ca-type-3-item-hint">
            <label class="govuk-label govuk-radios__label" for="ca-type-3">
              Public undertaking
            </label>
            <div id="ca-type-3-item-hint" class="govuk-hint govuk-radios__hint">
              A commercial organisation subject to public oversight, providing utilities to the public. For example, transport networks operating commercially. 
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ca-type-4" name="ca-type" type="radio" value="type4" aria-describedby="ca-type-4-item-hint">
            <label class="govuk-label govuk-radios__label" for="ca-type-4">
              Private utility
            </label>
            <div id="ca-type-4-item-hint" class="govuk-hint govuk-radios__hint">
              A private company with a special or exclusive right to provide utilities to the public. For example, private companies supplying electricity. 
            </div>
          </div>
          <!--<div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ca-type-5" name="ca-type" type="radio" value="type5" data-aria-controls="conditional-ca-type-5">
            <label class="govuk-label govuk-radios__label" for="ca-type-5">
              Other
            </label>
            <div id="ca-type-5-item-hint" class="govuk-hint govuk-radios__hint">
              For example, a utilities dynamic market by a non-contracting authority
            </div>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ca-type-5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="other-buyer-type">
                Enter buyer type
              </label>

              <input class="govuk-input" id="other-buyer-type" name="otherBuyerType" aria-describedby="ca-type-5-item-hint">
            </div>
          </div>


        </div>
        </fieldset>
      </div>-->
<p></p>
<p></p>
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
