{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form action="do-devolved-regulations-apply">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What type of public sector buyer is your organisation?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ca-type" name="ca-type" type="radio" value="type1" aria-describedby="ca-type-item-hint">
              <label class="govuk-label govuk-radios__label" for="ca-type">
                UK central government
              </label>

              <div id="ca-type-item-hint" class="govuk-hint govuk-radios__hint">
                Includes devolved national governments, arm’s-length bodies and trading funds
                <!--<details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Show more
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Includes arm's-length bodies such as:
                    <ul>
                      <li>executive agencies (EA)</li>
                      <li>non-departmental public bodies (NDPB)</li>
                      <li>non-ministerial departments (NMD)</li>
                      <li>Trading Funds</li>
                    </ul>
                  </div>
                </details>-->

              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ca-type-2" name="ca-type" type="radio" value="type2" aria-describedby="ca-type-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="ca-type-2">
                UK regional and local government
              </label>
              <div id="ca-type-2-item-hint" class="govuk-hint govuk-radios__hint">
                Includes devolved regional government, unitary authorities, county, district, borough and parish councils, charities, housing associations and emergency services

              <!--  <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Show more
                      </span>
                      </summary>
                      <div class="govuk-details__text">
                        Includes:
                <ul>
                  <li>unitary authorities</li>
                  <li>county, district, borough and parish councils</li>
                  <li>the Greater London Authority</li>
                  <li>charities</li>
                  <li>housing associations</li>
                  <li>blue light organisations - ambulance, police, and other emergency services</li>

                </ul>
              </div>
            </details>-->
              </div>
            </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ca-type-3" name="ca-type" type="radio" value="type3" aria-describedby="ca-type-3-item-hint">
            <label class="govuk-label govuk-radios__label" for="ca-type-3">
              Public undertaking
            </label>
            <div id="ca-type-3-item-hint" class="govuk-hint govuk-radios__hint">
              An organisation that operates commercially and provides utilities to the public. For example, Transport for Wales.
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ca-type-4" name="ca-type" type="radio" value="type4" aria-describedby="ca-type-4-item-hint">
            <label class="govuk-label govuk-radios__label" for="ca-type-4">
              Private utility
            </label>
            <div id="ca-type-4-item-hint" class="govuk-hint govuk-radios__hint">
              A private company with a special or exclusive right to provide utilities to the public. For example, National Grid or British Gas.
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="ca-type-5" name="ca-type" type="radio" value="type5" data-aria-controls="conditional-ca-type-5">
            <label class="govuk-label govuk-radios__label" for="ca-type-5">
              Other
            </label>
            <div id="ca-type-5-item-hint" class="govuk-hint govuk-radios__hint">
              For example, a utilities dynamic market by a non-contracting authority
            </div>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ca-type-5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="other-buyer-type">
                Enter buyer type
              </label>

              <input class="govuk-input" id="other-buyer-type" name="otherBuyerType" aria-describedby="ca-type-5-item-hint">
            </div>
          </div>


        </div>
        </fieldset>
      </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
