{% extends "layouts/main.html" %}

{% set showFTS = true %}
{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">My account</span>
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Sign in details
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">
            Email address:
          </td>
          <td scope="row" class="govuk-table__cell">
            john@supplier.com
          </td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      You can <a href="https://home.account.gov.uk/settings" target="_blank">change your sign in details in your GOV.UK One Login</a>.
  </p>

 <hr class="govuk-section-break govuk-section-break--invisible govuk-section-break--xl">

    <h1 class="govuk-heading-m">
    My organisations
    </h1>

      <p class="govuk-body">
        Register an organisation if you are:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          a contracting authority who publishes notices to buy goods, works, services and utilities
        </li>
        <li>
          an organisation or sole trader who searches for tenders and submits bids to supply goods, works, services and utilities
        </li>
        </ul>

    <a class="govuk-button" href="org-type">
      Register an organistation
    </a>
    <h2 class="govuk-heading-s">
      After you’ve registered
      </h2>
    <p class="govuk-body">
      If you need to you can:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          register as the other role, if you are both a buyer and supplier
        </li>
        <li>
          add more organisations
        </li>
        </ul>
  </div>
</div>

{% endblock %}
