{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             Do any of these devolved regulations apply?
            </h1>
          </legend>

          <div id="waste-hint" class="govuk-hint">
            Where the contracting authority operates mainly in that part of the UK and its activities are not reserved
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="waste" name="waste" type="radio" value="carcasses">
              <label class="govuk-label govuk-radios__label" for="waste">
                Northern Ireland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="waste-2" name="waste" type="radio" value="mines">
              <label class="govuk-label govuk-radios__label" for="waste-2">
                Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="waste-3" name="waste" type="radio" value="farm">
              <label class="govuk-label govuk-radios__label" for="waste-3">
                Wales
              </label>
            </div>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="waste-4" name="waste" type="radio" value="none">
            <label class="govuk-label govuk-radios__label" for="none">
              None apply
            </label>
          </div>
        </div>
        </fieldset>
      </div>
      </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
