{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Do devolved regulations apply to your organisation?
                    </h1>
                </legend>
                <p>Where Welsh Government, Scottish Government and Northern Ireland Executive can set the rules for procurements and contract management.  </p>
                <p class="govuk-body">As defined in the <a href="https://www.gov.uk/government/publications/procurement-act-2023-guidance-documents-plan-phase/guidance-devolved-contracting-authorities-html#:~:text=Procurement%20is%20largely%20a%20devolved,are%20conducted%20and%20contracts%20managed." target="https://www.gov.uk/government/publications/procurement-act-2023-guidance-documents-plan-phase/guidance-devolved-contracting-authorities-html#:~:text=Procurement%20is%20largely%20a%20devolved,are%20conducted%20and%20contracts%20managed.">devolved contracting authorities guidance (opens in new tab)</a>.</p>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="devoledRegsApplyYes" name="devoledRegsApply" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="devoledRegsApplyYes">
                            Yes
                        </label>
                    </div>
  
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="devoledRegsApplyNo" name="devoledRegsApply" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="devoledRegsApplyNo">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
