{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="identifierVal">
              Identify the organisation you want to join
            </label>
          </h1>
          <div id="hint" class="govuk-hint">Select the identifier and enter the number</div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Organisation identifier
            </label>
            <select class="govuk-select" id="sort" name="sort">
              
              <option value="null" selected>Select identifier</option>
              <option value="ppon">PPON</option>
              <option value="chno">Companies House number</option>
              <option value="ccew">Charity Commission for England and Wales</option>
              <option value="more">...</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-text">
              Identifier number
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
          </div>
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
