{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post" action="user-details">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="privacy-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Agree to the privacy notice
            </h1>
          </legend>
          <p>
            The privacy notice explains how we process your data, how we use it and who it's shared with.
          </p>

          <p>
            Before you continue, you must read and agree to the <a href="#">privacy notice (opens in new tab)</a>.
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="privacy" name="privacy" type="checkbox" value="agreed_to_privacy_policy">
              <label class="govuk-label govuk-checkboxes__label" for="privacy">
                I have read and agree to the privacy notice
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
