{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">
        You've signed the data sharing agreement
    </h1>
    <p class="govuk-body>">
      <a href="org-dashboard-4">Go back to organisation details</a> to view the agreement.
    </p>

  </div>
</div>

{% endblock %}
