{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}


{% block content %}

<div class="govuk-grid-column-ful-width">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" method="post">
        <div class="govuk-form-group">

          <!-- <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Share your information and associated declaration
          </h2> -->


          <h1 class="govuk-heading-l">
            <label class="govuk-label govuk-label--l" for="declarationStatement">
              Read and agree to the data sharing agreement
            </label>
          </h1>
          <p>
            The data sharing agreement is a memorandum of understanding (MOU) about data shared on the Find a Tender service (FTS) and the joint responsibilities of:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the Cabinet Office</li>
            <li>contracting authorities taking part in public procurement</li>
          </ul>

          <p>
            The MOU explains the:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>personal and sensitive data collected on FTS</li>
            <li>role and responsibilities of the Cabinet Office</li>
            <li>role and responsibilities of the contracting authority</li>
            </ul>

          <h2 class="govuk-heading-m">
            Download the agreement
          </h2>
          <p class="govuk-body">
            <a href="#">Download the data sharing agreement</a>
          </p>
          <p>Download and share the document within your organisation. When ready, return to this page to confirm that your organisation understands its responsibilities as a joint data controller.</p>

          <!--<div class="govuk-warning-text govuk-!-margin-top-6">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              This is a legally binding contract between the Cabinet Office and your organisation.
            </strong>
          </div>-->

          <h2 class="govuk-heading-m">
            Confirm you have read and agree
          </h2>
          <p class="govuk-body">
            By ticking the box you are 'signing' the data sharing agreement on behalf of your organisation. The details you provide will be saved and dated as proof of agreement with the MOU.
          </p>
          <p class="govuk-body">
            You will be able to view the document and signing information from your organisation details page.
          </p>

          <div class="govuk-checkboxes__item govuk-!-margin-bottom-6">
            <input class="govuk-checkboxes__input" id="declarationStatement" name="declarationStatement"
              type="checkbox" value="I understand and agree to the declaration statements">
            <label class="govuk-label govuk-checkboxes__label" for="declarationStatement">
              I confirm that I have read and agree to the data sharing agreement
            </label>
          </div>

          <p class="govuk-body">
            I am authorised to sign the agreement for my organisation on behalf of:
          </p>
          <div class="govuk-form-group">
            <label class="govuk-label" for="job-title">
              Full name
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="job-title" name="jobTitle" type="text" spellcheck="false" autocomplete="email">
          </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="job-title">
              Job title
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="job-title" name="jobTitle" type="text" spellcheck="false" autocomplete="email">
          </div>


        <!--  <div class="govuk-form-group govuk-!-margin-top-5">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                How would you like to proceed?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="mouQuestion" name="mouQuestion" type="radio" value="yes" data-aria-controls="conditional">
                  <label class="govuk-label govuk-radios__label" for="mouQuestion">
                    Sign the MoU on behalf of the department
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional">
                  <p>
                    I, Joe Bloggs, hereby confirm that I have reviewed the Memorandum of Understanding (MoU) and, being duly authorised, sign it on behalf of my organisation, Ministry of Justice.
                  </p>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="job-title">
                      Your job title
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="job-title" name="jobTitle" type="text" spellcheck="false" autocomplete="email">
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="mouQuestion-2" name="mouQuestion" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="mouQuestion-2">
                    Ask someone else to sign
                    <div class="govuk-hint">
                      You'll need to assign them as an admin or editor by adding them to this service
                    </div>
                  </label>

                </div>
              </div>
            </fieldset>
          </div>-->

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Sign and continue
            </button>
          </div>

          <!-- <fieldset class="govuk-fieldset" data-required data-error="Check the box to agree to the above statements"
            aria-required="true">

            <div class="govuk-checkboxes__item govuk-!-margin-bottom-6">
              <input class="govuk-checkboxes__input" id="declarationStatement" name="declarationStatement"
                type="checkbox" value="I understand and agree to the declaration statements">
              <label class="govuk-label govuk-checkboxes__label" for="declarationStatement">
                I understand and agree to the above statements
              </label>
            </div>
        </div>



        </fieldset> -->
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block pageScripts %}

{% endblock %}
