{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What do you want to register your organisation as?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="orgType" name="orgType" type="radio" value="Buyer" aria-describedby="hint-buyer">
              <label class="govuk-label govuk-radios__label" for="orgType">
                Buyer
              </label>
              <div id="hint-buyer" class="govuk-hint govuk-radios__hint">
                A contracting authority who publishes notices to buy goods, works, services or utilities
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="orgType-2" name="orgType" type="radio" value="Supplier" aria-describedby="hint-supplier">
              <label class="govuk-label govuk-radios__label" for="orgType-2">
                Supplier
              </label>
              <div id="hint-supplier" class="govuk-hint govuk-radios__hint">
                An organisation or sole trader who searches for tenders and submits bids to supply goods, works, services or utilities
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="orgType-3" name="orgType" type="radio" value="both">
              <label class="govuk-label govuk-radios__label" for="orgType-3">
                  Join an existing organisation
              </label>
              <div id="hint-supplier" class="govuk-hint govuk-radios__hint">
               Please enter the organisation company house number on the next screen.
              </div>
            </div>
          </div>
        </fieldset>
      </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
