{% extends "layouts/main.html" %} {% block header %} {% include("includes/header-with-nav.html") %} {% endblock %} {% block beforeContent %} {%
include("includes/phase-banner.html") %} {% include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form action="org-name">
      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select registery
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select one option
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="registry1" data-aria-controls="conditional-option-1">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Registry 1
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-1">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="option-1">
                    Enter number or reference
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="option-1" name="option1">
                </div>
              </div>

            </div>
          </fieldset>
        </div>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
