{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Register a new organisation or request to join an existing one 
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="orgType" name="orgType" type="radio" value="Buyer" aria-describedby="hint-buyer">
              <label class="govuk-label govuk-radios__label" for="orgType">
                Buyer
              </label>
              <div id="hint-buyer" class="govuk-hint govuk-radios__hint">
                A contracting authority who publishes notices to buy goods, works, services or utilities
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="orgType-2" name="orgType" type="radio" value="Supplier" aria-describedby="hint-supplier">
              <label class="govuk-label govuk-radios__label" for="orgType-2">
                Supplier
              </label>
              <div id="hint-supplier" class="govuk-hint govuk-radios__hint">
                An organisation or sole trader who searches for tenders and submits bids to supply goods, works, services or utilities
              </div>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="orgType-3" name="orgType" type="radio" value="join" aria-describedby="hint-join"  data-aria-controls="conditional-join">
              <label class="govuk-label govuk-radios__label" for="orgType-3">
                Request to join an existing buyer or supplier
              </label>
              <div id="hint-join" class="govuk-hint govuk-radios__hint">
                You'll need their organisation identifier, such as a PPON or Companies House number
              </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-join">
              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Organisation identifier
                </label>
                <select class="govuk-select" id="sort" name="sort">
                  
                  <option value="null" selected>Select identifier</option>
                  <option value="ppon">PPON</option>
                  <option value="chno">Companies House number</option>
                  <option value="ccew">Charity Commission for England and Wales</option>
                  <option value="more">...</option>
                </select>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Identifier number
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
