{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="selectOrgName" %}
            {% set heading="Select the organisation that best matches what you're trying to add" %}

            <!-- user options -->

            {% set options=[] %}
            {% set optionHints=[] %}


            {% set options=(options.push("Ministry of Justice"), options) %}
            {% set options=(optionHints.push("UK Government departments, agencies and public bodies"), options) %}

            {% set options=(options.push("Ministry of Justice - Gov Facility Services Ltd"), options) %}
            {% set options=(optionHints.push("UK Government departments, agencies and public bodies"), options) %}

            {% set options=(options.push("None"), options) %}
            {% set options=(optionHints.push("Continue with [Ministry of Justice UK]"), options) %}



            {% include("./templates/radios.html") %}
            {% include("./templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
