{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form method="post" action="org-join-request-done">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Send a request to join Kaffiene labs?
                    </h1>
                </legend>


                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sendRequestToJoinOrg" name="sendRequestToJoinOrg" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="sendRequestToJoinOrg">
                            Yes
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sendRequestToJoinOrg2" name="sendRequestToJoinOrg" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="sendRequestToJoinOrg2">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="privacy" name="privacy" type="checkbox" value="agreed_to_privacy_policy">
                  <label class="govuk-label govuk-checkboxes__label" for="privacy">
                    I understand my name and email will be shared with the organisation
                  </label>
                </div>
              </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
