{% extends "layouts/main.html" %}

{% set showFTS = true %}



{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}


{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    {% if showSuccessBanner == 'yes' %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          You have been registered as a supplier
        </h3>
        <p class="govuk-body">You'll need to <a class="govuk-notification-banner__link" href="#sectionSupplierInformation">add supplier information</a> to be able to create sharecode.</p>
      </div>
    </div>
    {% endif %}

    {% if data['orgType'] == 'Buyer' or registeredAsBoth == 'yes' %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Buyer registration pending approval</p>
      </div>
    </div>

    {% endif %}




    <h1 class="govuk-heading-l">
      <span class="govuk-caption-m"> PPON - 97465533 </span>
      <span class="govuk-label--l">{{ data['orgName'] }}</span>
    </h1>

    <h2 class="govuk-heading-m">Organisation details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">Companies House number</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">98876277</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation identifiers</dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              Charity Commission for England and Wales <br />
              73992884
            </li>
            <li>
              Jersey Financial Services Commission Registry <br />
              9989898
            </li>
          </ul>
        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-id">Add<span class="govuk-visually-hidden"> organisation ID</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation name</dt>
        <dd class="govuk-summary-list__value">
          {{ data['orgName'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-name">Change<span class="govuk-visually-hidden"> organisation name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation email</dt>
        <dd class="govuk-summary-list__value">
          {{ data['emailAddress'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-email">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation address</dt>
        <dd class="govuk-summary-list__value">
          <p>
            {{ data['postal-address-line-1'] }}
            <br />
            {{ data['postal-address-postcode'] }}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="org-address-uk">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

      {% if data['orgType'] == 'Buyer' or registeredAsBoth == 'yes' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation type</dt>
        <dd class="govuk-summary-list__value">Central government, public authority: UK, Scottish, Welsh and Northern Irish Executive</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="buyer-type">Change<span class="govuk-visually-hidden"> organisation type</span></a>
        </dd>
      </div>

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do devolved regulations apply to the organisation?</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="do-devolved-regulations-apply"
            >Change<span class="govuk-visually-hidden"> do devolved regulations apply to the organisation?</span></a
          >
        </dd>
      </div> -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Which devolved regulations apply to the organisation?</dt>
        <dd class="govuk-summary-list__value">Nothern Ireland, Scotland</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="devolved-regulations">Change<span class="govuk-visually-hidden"> which devolved regulations apply to the organisation?</span></a>
        </dd>
      </div>

      {% endif %}
    </dl>



      {% if data['orgType'] == 'Supplier' or registeredAsBoth == 'yes' %}
      <div id="sectionSupplierInformation" class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
        <a class="govuk-link" href="supplier-information">Complete supplier information</a>
        <p class="govuk-!-margin-top-3">Complete and share your supplier information to be able to bid for procurements.</p>
      </div>

        <hr class="govuk-section-break  govuk-section-break--visible govuk-section-break--m" />
      {% endif %}



      {% if data['orgType'] == 'Buyer' or registeredAsBoth == 'yes' %}
      <div class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
        <a class="govuk-link" href="manage-api-key/manage-API-key-start.html">Manage API keys</a>
        <p class="govuk-!-margin-top-3">Create an API key and share it with the e-Sender you use to publish procurement notices.</p>
      </div>

        <hr class="govuk-section-break  govuk-section-break--visible govuk-section-break--m" />

      {% endif %}

      
      <div class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
        <a class="govuk-link" href="user/add-another-user">Manage users</a>
        <p class="govuk-!-margin-top-3">View, add or remove users.</p>
      </div>
      
      <hr class="govuk-section-break  govuk-section-break--visible govuk-section-break--m" />
      
      {% if data['orgType'] == 'Buyer' and registeredAsBoth != 'yes' %}
      <div class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
        <a class="govuk-link" href="org-dashboard-4?registeredAsBoth=yes&showSuccessBanner=yes">Register as a supplier</a>
        <p class="govuk-!-margin-top-3">If you also supply goods, works, services or utilities to the public sector.</p>
      </div>

        <hr class="govuk-section-break  govuk-section-break--visible govuk-section-break--m" />
      {% endif %}

      {% if data['orgType'] == 'Supplier' and registeredAsBoth != 'yes' %}
        <div class="govuk-!-margin-top-3 govuk-!-font-weight-bold">
          <a class="govuk-link" href="buyer-type?alternative-journey=yes">Register as a buyer</a>
          <p class="govuk-!-margin-top-3">If you also buy public sector goods, works, services or utilities.</p>
        </div>
       
      {% endif %}


      {% if data['orgType'] == 'Buyer' %}
      <p class="govuk-!-margin-top-3">Get procurement guidance on the  <a class="govuk-link" href="https://www.procurementpathway.civilservice.gov.uk/">Procurement Pathway service (opens in new tab)</a></p>
      {% endif %}

  </div>
</div>

{% endblock %}
