{% extends "layouts/main.html" %} {% block header %} {% include("includes/header-with-nav.html") %} {% endblock %} {% block beforeContent %} {%
include("includes/phase-banner.html") %} {% include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <form action="org-email">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Is your organisation on any of these registries?</h1>
          </legend>
          <div id="registry-hint" class="govuk-hint">
            Select all that apply. Then enter the registration number.
          </div>

          <!-- <p>
            <a href="org-id-overseas-country">Enter a non-UK registry and number</a>
          </p> -->

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="chew"
                name="orgid"
                type="checkbox"
                value="chew|Charity Commission for England and Wales"                
                checked
                data-aria-controls="conditional-chew"
              />
              <label class="govuk-label govuk-checkboxes__label" for="chew"> Charity Commission for England and Wales </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-chew">
              <div class="govuk-form-group">
                <label class="govuk-label" for="scr-input"> Charity number </label>
                <input class="govuk-input govuk-!-width-one-third" id="scr-input" name="scrInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="scr"
                name="orgid"
                type="checkbox"
                value="Scottish Charity Regulator"
                data-aria-controls="conditional-scr"
              />
              <label class="govuk-label govuk-checkboxes__label" for="scr"> Scottish Charity Regulator </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-scr">
              <div class="govuk-form-group">
                <label class="govuk-label" for="scr-input"> Charity number </label>
                <input class="govuk-input govuk-!-width-one-third" id="scr-input" name="scrInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="ccni"
                name="orgid"
                type="checkbox"
                value="Charity Commission for Northern Ireland"
                data-aria-controls="conditional-ccni"
              />
              <label class="govuk-label govuk-checkboxes__label" for="ccni"> Charity Commission for Northern Ireland </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-ccni">
              <div class="govuk-form-group">
                <label class="govuk-label" for="ccni-input"> Charity number </label>
                <input class="govuk-input govuk-!-width-one-third" id="ccni-input" name="ccniInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="mpr"
                name="orgid"
                type="checkbox"
                value="Mutuals Public Register"
                data-aria-controls="conditional-mpr"
              />
              <label class="govuk-label govuk-checkboxes__label" for="mpr"> Mutuals Public Register </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-mpr">
              <div class="govuk-form-group">
                <label class="govuk-label" for="mpr-input"> Registration number </label>
                <input class="govuk-input govuk-!-width-one-third" id="mpr-input" name="mprInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="gr" name="orgid" type="checkbox" value="Guernsey Registry" data-aria-controls="conditional-gr" />
              <label class="govuk-label govuk-checkboxes__label" for="gr"> Guernsey Registry </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-gr">
              <div class="govuk-form-group">
                <label class="govuk-label" for="gr-input"> Entity number </label>
                <div id="gr-input" class="govuk-hint">Include prefix, if applicable. For example, GY.</div>
                <input class="govuk-input govuk-!-width-one-third" id="gr-input" name="grInput" />
              </div>
            </div>
          </div>
          
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="jrfscr"
                name="orgid"
                type="checkbox"
                value="Jersey Financial Services Commission Registry"                
                checked
                data-aria-controls="conditional-jrfscr"
              />
              <label class="govuk-label govuk-checkboxes__label" for="jrfscr"> Jersey Financial Services Commission Registry </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-jrfscr">
              <div class="govuk-form-group">
                <label class="govuk-label" for="scr-input"> Charity number </label>
                <input class="govuk-input govuk-!-width-one-third" id="scr-input" name="scrInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="iomcr"
                name="orgid"
                type="checkbox"
                value="Isle of Man Companies Registry number"
                data-aria-controls="conditional-iomcr"
              />
              <label class="govuk-label govuk-checkboxes__label" for="iomcr"> Isle of Man Companies Registry </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-iomcr">
              <div class="govuk-form-group">
                <label class="govuk-label" for="iomcr-input"> Company number </label>
                <input class="govuk-input govuk-!-width-one-third" id="iomcr-input" name="iomcrInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="nhsods"
                name="orgid"
                type="checkbox"
                value=" NHS Organisation Data Service (ODS)"
                data-aria-controls="conditional-nhsods"
              />
              <label class="govuk-label govuk-checkboxes__label" for="nhsods"> NHS Organisation Data Service (ODS) </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-nhsods">
              <div class="govuk-form-group">
                <label class="govuk-label" for="nhsods-input"> ODS code </label>
                <input class="govuk-input govuk-!-width-one-third" id="nhsods-input" name="nhsodsInput" />
              </div>
            </div>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input
                class="govuk-checkboxes__input"
                id="UKPRN"
                name="orgid"
                type="checkbox"
                value="UK Register of Learning Providers (UKPRN)"
                data-aria-controls="conditional-UKPRN"
              />
              <label class="govuk-label govuk-checkboxes__label" for="UKPRN"> UK Register of Learning Providers </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-UKPRN">
              <div class="govuk-form-group">
                <label class="govuk-label" for="UKPRN-input"> UK Provider Reference Number (UKPRN) </label>
                <input class="govuk-input govuk-!-width-one-third" id="UKPRN-input" name="UKPRNInput" />
              </div>
            </div>
          </div>

          <!--
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="vat" name="orgid" type="checkbox" value="VAT number" data-aria-controls="conditional-vat">
                        <label class="govuk-label govuk-checkboxes__label" for="vat">
                            VAT number
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-vat">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="vat-input">
                            VAT number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="vat-input" name="vatInput">
                        </div>
                    </div>
                </div>
                -->

          <div class="govuk-checkboxes__divider">or</div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgid-none" name="orgid" type="checkbox" value="The organisation does not have a registry number" />
              <label class="govuk-label govuk-checkboxes__label" for="orgid-none"> None apply</label>
            </div>
            <div id="checkbox-hint" class="govuk-hint govuk-checkboxes__hint">
              You'll be assigned a public procurement organisation number (PPON)
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
