{% extends "layouts/main.html" %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Register your details as a buyer or supplier of UK public procurements</span>
    </h1>

    <p>This service is for both procurement professionals and suppliers to the UK's public and utilities sectors.</p>

    <p>Use the service if you are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a contracting authority who publishes notices to buy or supply goods, works, services and utilities, or both</li>
      <li>an organisation or sole trader who searches for tenders and submits bids to supply goods, works, services and utilities</li>
    </ul>

    <p>Suppliers should enter a Companies House number, or an identifier from the list:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Charity Commission for England, Wales and Northern Ireland or Scottish Regulator</li>
      <li>Mutuals Public Register</li>
      <li>Guernsey Registry</li>
      <li>Jersey Financial Services Commission Registry</li>
      <li>Isle of Man Companies Registry</li>
      <li>NHS Organisation Data Service (ODS)</li>
      <li>UK Register of Learning Providers (UKPRN number)</li>
      <li>VAT number</li>
    </ul>

    <div class="govuk-inset-text">
      It should take about 5 minutes to register.
    </div>

    <p>You will need to <a class="govuk-link govuk-link--no-visited-state" href="/one-login/?v=7">create a GOV.UK One Login or sign in.</a></p>

    <p>
      If your organisation is already registered with the service, <a class="govuk-link govuk-link--no-visited-state" href="/one-login/?v=7">sign in to your account.</a>
    </p>

</div>
</div>






{% endblock %}
