{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set headingCaption=data['categoryOfConnectedPerson'] %}
            {% set heading="Enter [person/Org]'s registered address" %}
            {% set description="The address registered with Companies House, or the principal address the business conducts its activities. For example, a head office." %}

            {% if page == "/category-other-psc-address-2" 
                    or page == "/category-other-director-address-2"
                    or page == "/category-other-indvidual-with-control-adress-2"
                    or page == "/registered-company-service-address-2"
                    or page == "/director-service-address-2"
                    or page == "/parent-company-service-address-2"
                    or page == "/other-org-with-control-service-address-2" %}
                {% set heading="Enter [person/Orgs]'s postal address" %}
            {% endif %}

            {% include("../templates/address.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
