{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="categoryOfConnectedPerson" %}
            {% set heading="Select the category that best describes the 'connected person'" %}
            {% set hintText="The 'connected person' that has control or influence over your organisation should fall into one of these categories." %}

            <!-- user options -->

            {% set options=[] %}
            {% set optionHints=[] %}

            <!-- options for org -->
            {% if page == "/category-org-1" %}

                {% set options=(options.push("registered company"), options) %}

                {% set options=(options.push("director or the same responsibilities"), options) %}

                {% set options=(options.push("parent or subsidiary company"), options) %}

                {% set options=(options.push("a company your organisation has taken over"), options) %}

                {% set options=(options.push("any other organisation with significant influence or control"), options) %}

            {% endif %}

            <!-- options for individual -->

            {% if page == "/category-indv-1" %}

                {% set options=(options.push("person with significant control"), options) %}

                {% set options=(options.push("director or individual with the same responsibilities"), options) %}

                {% set options=(options.push("any other individual with significant influence or control"), options) %}

            {% endif %}

            <!-- options for trustee -->

            {% if page == "/category-trust-1" %}

                {% set options=(options.push("person with significant control"), options) %}

                {% set options=(options.push("director or individual with the same responsibilities"), options) %}

                {% set options=(options.push("any other individual with significant influence or control"), options) %}

            {% endif %}


            <!-- -->

            {% include("../templates/radios.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
