{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form class="form" method="post">

            <span class="govuk-caption-l">{{ data['categoryOfConnectedPerson'] }}</span>
            <h1 class="govuk-heading-l">Check your answers</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    [Company name]
                </dt>
                <dd class="govuk-summary-list__value">
                    [Some Company Limited]
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [company name]</span></a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    [Registered address]
                </dt>
                <dd class="govuk-summary-list__value">
                    [10 Downing street<br>SW1 2AA]
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [registered address]</span></a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    [Postal address]
                </dt>
                <dd class="govuk-summary-list__value">
                    [10 Downing street<br>SW1 2AA]
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [postal address]</span></a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    [Contact details]
                </dt>
                <dd class="govuk-summary-list__value">
                    [somecompany@email.com]
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> [Contact details]</span></a>
                </dd>
                </div>
            </dl>

            {% set buttonCaption="Save" %}
            {% include("../templates/button--submit.html") %}
        </form>
    </div>
</div>




{% endblock %}
