{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="hasLegalForm" %}
            {% set heading="Does [Org] have a legal form?" %}
            {% set headingCaption=data['categoryOfConnectedPerson'] %}
            {% set hintText="In the UK this is a business structure or trading status. For example, limited company or limited liability partnership." %}
            {% set revealInputLabel="Legal form name" %}

            {% include("../templates/radio-yes-no.html") %}

            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}
