{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="natureOfControl" %}
            {% set headingCaption=data['categoryOfConnectedPerson'] %}
            {% set heading="Which specified conditions of control does [person/Org] have?" %}
            {% set hintText="As defined in <a href=\"https://www.legislation.gov.uk/ukpga/2006/46/schedule/1A/part/1?timeline=false\" target=\"_blank\">part 1 schedule 1a of the Companies Act 2006</a>. Select all that apply." %}
            {% set showOr = true%}

            {% if page == "/registered-company-nature-of-control-2"
                    or page == "/other-org-with-control-nature-of-control-2" %}
                {% set hintText = "In the UK this is defined in <a href=\"\https://www.legislation.gov.uk/ukpga/2006/46/schedule/1A/part/1?timeline=false\" target=\"_blank\">part 1 schedule 1a of the Companies Act 2006 (opens in new tab)</a>. Select all equivalent conditions that apply. " %}
            {% endif %}

            <!-- user options -->

            {% set options=[] %}
            {% set optionHints=[] %}

            {% set options=(options.push("Owns shares"), options) %}
            {% set optionHints=(optionHints.push("Directly or indirectly holds more than 25% of the company's shares"), optionHints) %}

            {% set options=(options.push("Has voting rights"), options) %}
            {% set optionHints=(optionHints.push("Directly or indirectly holds more than 25% of the voting rights in the company"), optionHints) %}

            {% set options=(options.push("Can appoint or remove directors"), options) %}
            {% set optionHints=(optionHints.push("Directly or indirectly holds the right to appoint or remove a majority of the company's board of directors"), optionHints) %}

            {% set options=(options.push("Has other significant influence or control"), options) %}
            {% set optionHints=(optionHints.push("Has the right to exercise, or exercises, significant influence or control over company. As defined in the <a href=\"#\">person of significant control (PSC) guidance</a>"), optionHints) %}

            {% set options=(options.push("None apply"), options) %}


            {% include("../templates/checkboxes.html") %}
            {% include("../templates/button--submit.html") %}
            
        </form>

    </div>
</div>

{% endblock %}
