{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">

            {% set inputName="registerName" %}
            {% set headingCaption=data['categoryOfConnectedPerson'] %}
            {% set heading="Select where [person/Org] is registered as person with significant control" %}

            {% set options=[] %}
            {% set options=(options.push("People with significant control register on Companies House"), options) %}
            {% set options=(options.push("Other"), options) %}

            {% set optionReveals=[false, "Register name"] %}

            {% include("../templates/radios.html") %}



            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}
