{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">
            <div class="govuk-form-group">
                {% set inputName="mitDetail1" %}
                {% set heading="How the exclusion is being managed" %}
                {% set description="
                    <p class=\"govuk-body\">You must tell us what you or the person who was subject to the event:</p>
                

                    <ul class=\"govuk-list govuk-list--bullet\">
                            <li>have done to prove it was taken seriously - for example, paid a fine or compensation</li>
                            <li>have done to stop the circumstances that caused it from happening again - for example, taking steps like changing staff or management or putting procedures or training in place</li>
                            <li>are doing to monitor the steps that were taken – for example, regular meetings</li>
                    </ul>
                " %}
    
                {% include "../templates/textarea.html" %}
            </div>
            {% include("../templates/button--submit.html") %}
        </form>
    </div>
</div>

    {% endblock %}