{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-column-ful-width">

    <!-- <h1 class="govuk-heading-m" style="color: #1d70b8;">
        Mandatory exclusion grounds
    </h1>

    <span class="govuk-caption-l">
        {{ data['exclusionMan'] }}
    </span> -->

    <form class="form" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" data-required data-error="Provide Supporting evidence"
                aria-required="true">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="mitDetail">
                        Describe the exclusion in more detail 
                    </label>
                </h1>
                <p class="govuk-body">Give your explanation of the event. For example, any background information you can give about what happened or what caused the exclusion. </p>                       

                <textarea class="govuk-textarea" id="mitDetail" name="mitDetail1" rows="6"
                    aria-describedby="mitDetail-hint"></textarea>

               
            </fieldset>
            <p class="govuk-body">[10,000] characters remaining</p>
            <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
    </form>

    {% endblock %}