{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-form-group">
                {% set inputName="eventLink" %}
                {% set heading="Was the decision recorded on a public authority website?" %}
                {% set hintText="For example, the outcome of a court decision for a conviction or other event." %}
                {% set revealInputLabel="Website address" %}

                {% include "../templates/radio-yes-no.html" %}
            </div>

            {% include("../templates/button--submit.html") %}

        </form>

    </div>
</div>

{% endblock %}