{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        {% set inputName="exclusionMan" %}
        {% set heading="Select who the exclusion applies to" %}
        {% set description="Defined in <a target=\"_blank\" href=\"https://www.legislation.gov.uk/ukpga/2023/54/schedule/6\">schedule 6 of the Procurement Act 2023 (opens in new tab).</a>" %}

        {% set options=[] %}
        {% set optionReveals=[] %}
        {% set optionRevealHints=[] %}

        {% set options=(options.push("[Random Limited]"), options) %}
        {% set optionReveals=(optionReveals.push("Email address"), optionReveals) %}
        {% set optionRevealHints=(optionRevealHints.push("Where the contracting authority can contact someone about the exclusion."), optionRevealHints) %}

        {% set options=(options.push("[Connected org]"), options) %}
        {% set optionReveals=(optionReveals.push("Email address"), optionReveals) %}
        {% set optionRevealHints=(optionRevealHints.push("Where the contracting authority can contact someone about the exclusion."), optionRevealHints) %}

        {% set options=(options.push("[Connected individual]"), options) %}
        {% set optionReveals=(optionReveals.push("Email address"), optionReveals) %}
        {% set optionRevealHints=(optionRevealHints.push("Where the contracting authority can contact someone about the exclusion."), optionRevealHints) %}

        {% set options=(options.push("[Connected org 2]"), options) %}
        {% set optionReveals=(optionReveals.push("Email address"), optionReveals) %}
        {% set optionRevealHints=(optionRevealHints.push("Where the contracting authority can contact someone about the exclusion."), optionRevealHints) %}

        {% set options=(options.push("[Connected trustee]"), options) %}
        {% set optionReveals=(optionReveals.push("Email address"), optionReveals) %}
        {% set optionRevealHints=(optionRevealHints.push("Where the contracting authority can contact someone about the exclusion."), optionRevealHints) %}

        {% set options=(options.push("..."), options) %}
        {% set optionReveals=(optionReveals.push("Email address"), optionReveals) %}
        {% set optionRevealHints=(optionRevealHints.push("Where the contracting authority can contact someone about the exclusion."), optionRevealHints) %}


        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">{{ headingCaption }}</span>
                <h1 class="govuk-fieldset__heading">
                  {{ heading }}
                </h1>
            </legend>

            <div class="govuk-inset-text govuk-!-margin-top-0">
                If it applies to someone not listed, you must first <a href="https://co-sirsi-17f24dc1d065.herokuapp.com/supplier-information-v5/connected/connected-start" target="https://co-sirsi-17f24dc1d065.herokuapp.com/supplier-information-v5/connected/connected-start">add
                    them as a connected person (opens in new tab)</a>.
            </div>
    
            {% include "../templates/radio-options.html" %}
          </fieldset>
        </div>

        {% include("../templates/button--submit.html") %}

      </form>
    </div>
</div>


{% endblock %}