{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">
            <div class="govuk-form-group">
                {% set inputName="mitDetail1" %}
                {% set heading="Tell us about the exclusion" %}
                {% set showCharacterCount=true %}
                {% set description="
                    <p class=\"govuk-body\">You must briefly describe:</p>
                

                    <ol class=\"govuk-list govuk-list--number\">
                            <li>What has been done to prove it was taken seriously. For example, paid a fine or compensation. </li>
                            <li>What steps have been taken to stop the circumstances that caused it from happening again. For example, changing staff or management, putting procedures or training in place. </li>
                            <li>How the the steps taken are being monitored.</li>
                    </ol>
                " %}
    
                {% include "../templates/textarea.html" %}
            </div>
            {% include("../templates/button--submit.html") %}
        </form>
    </div>
</div>

    {% endblock %}