{% extends "layouts/main.html" %} {% block header %} {%
  include("includes/header-with-nav.html") %} {% endblock %} {% block
  beforeContent %} {% include("includes/phase-banner.html") %} {%
  include("includes/back-link.html") %} {% endblock %} {% block content %}



  <h1 class="govuk-heading-l">
    Select which exclusion applies
  </h1>
  <p class="govuk-body">
    Select one. If you need to, you can add another at the end.
    <p>As this exclusion happened outside the UK, select the equivalent offence for where it took place. 
  </p>
  <span class="govuk-caption-l">
    {{ data['mandatory'] }}
  </span>

  <!--

  <section class="moj-ticket-panel__content moj-ticket-panel__content" aria-label="title section">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Regulations 57(1) and (2) <br></strong>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <br>Please indicate if, within the past five years you, your organisation or any other person who has powers of
        representation, decision or control in the organisation has been convicted anywhere in the world of any of the
        offences within the summary below and listed on the webpage.
      </strong>
    </div>
  </section>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </hr>

  -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" data-required data-error="Select one option" aria-required="true">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              
            </legend>

            <!-- <div id="mandatory-hint" class="govuk-hint govuk-!-margin-top-4">
              As this was outside the UK, select the equivalent penalty.
            </div> -->

            <h2 class="govuk-heading-m">Mandatory exclusions</h2>
            <h3 class="govuk-heading-s">Penalties and other events</h3>
            <p>Detailed in <a
              href="" target="_blank">Schedule 6 of the Procurement Act 2023 (opens in new tab)</a>.
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
              value="Adjustments for tax arrangements that are abusive"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Adjustments for tax arrangements that are abusive
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
              value="Competition law infringements"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
              Competition law infringements
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
              value="Defeat in respect of notifiable tax arrangements"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
              Defeat in respect of notifiable tax arrangements
              </label>
            </div>
          
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
              value="Finding by HMRC, in exercise of its powers in respect of VAT, of abusive practice"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Finding by HMRC, in exercise of its powers in respect of VAT, of abusive practice
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
              value="Penalties for transactions connected with VAT fraud and evasion or tax or duty"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Penalties for transactions connected with VAT fraud and evasion of tax or duty 
              </label>
            </div>

           
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
              value="Penalties payable for errors in tax documentation and failure to notify and certain VAT and excise wrongdoing"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Penalties payable for errors in tax documentation and failure to notify and certain VAT and excise
              </label>
            </div>

            <p></p>
            

  
              
              <!--  Penalties Section -->
              <h3 class="govuk-heading-s">Convictions</h2>
              <div id="conviction-body" class="govuk-body">Detailed in <a
                href="" target="_blank">Schedule 6 of the Procurement Act 2023 (opens in new tab)</a>.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item govuk-!-margin-top-6">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                  value="Ancillary offences"> 
                  <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                  Ancillary offences - aiding, abetting, encouraging or assisting crime
                  </label>
                </div>
  
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio" 
                  value="Cartel offences"> 
                  <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                  Cartel offences
                  </label>
                </div>
  
  
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                  value="Corporate manslaughter or corporate homicide"> 
                  <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                  Corporate manslaughter or homicide
                  </label>
                </div>                         
  
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                    value="Labour market, slavery and human trafficking offences">
                  <label class="govuk-label govuk-radios__label" for="exclusionMan">
                   Labour market, slavery and human trafficking
                  </label>
                </div>          
  
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                    value="Organised crime">
                  <label class="govuk-label govuk-radios__label" for="exclusionMan">
                    Organised crime
                  </label>
                </div>
  
               
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                    value="Tax offences">
                  <label class="govuk-label govuk-radios__label" for="exclusionMan">
                    Tax offences
                  </label>
                </div>
  
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                  value="Terrorism"> 
                  <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                  Terrorism and offences having a terrorist connection
                  </label>
                </div>
  
  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                  value="Theft, fraud, bribery etc"> 
                  <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                  Theft, fraud and bribery
                  </label>
                </div>
  
              <p></p>

              <!-- Court Rulings -->

              <h2 class="govuk-heading-m">Discretionary exclusions</h2>
              <div id="penalty-body" class="govuk-body">Detailed in <a
                href="" target="_blank">Schedule 7 of the Procurement Act 2023 (opens in new tab)</a>.
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Potential competition and competition law infringements"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan13"> 
                Acting improperly in procurement
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Breach of contract and poor performance"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan13"> 
                Breach of contract and poor performance 
                </label>
              </div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                  vvalue="Environmental misconduct"> 
                  <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                  Environmental misconduct
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Infringement of the Competition Act 1998, under Chapter II prohibition"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Infringement of Competition Act 1998, under Chapter II prohibition
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Insolvency or bankruptcy"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Insolvency or bankruptcy
                </label>
              </div>

             
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Labour market misconduct"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
                Labour market misconduct
                </label>
              </div>

              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Potential competition and competition law infringements"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan13"> 
                Potential competition and competition law infringements
                </label>
              </div>

              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio"
                value="Potential competition and competition law infringements"> 
                <label class="govuk-label govuk-radios__label" for="exclusionMan13"> 
                Professional misconduct
                </label>
              </div>

              <div class="govuk-radios__item"> 
              <input class="govuk-radios__input" id="exclusionMan" name="exclusionMan" type="radio" 
              value="Suspension or ceasing to carry on all or a substantial part of business"> 
              <label class="govuk-label govuk-radios__label" for="exclusionMan"> 
            Suspension or ceasing to carry on all or a substantial part of business
          </label> 
        </div> 

          </fieldset>

          <button class="govuk-button govuk-!-margin-top-9" data-module="govuk-button">
            Continue
          </button>


        </div>

      </form>

    </div>
  </div>


{% endblock %}

{% block pageScripts %}

{% endblock %}