{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select" aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Did this exclusion happen in the UK?
            </h1>
          </legend>
          <div class="govuk-radios govuk-!-margin-top-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ukEventDis" name="ukEventDis"
                type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="ukEventDis">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ukEventDis-2" name="ukEventDis"
                type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="ukEventDis-2">
                No
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Continue</button>
  </div>
  </form>


</div>
</div>

{% endblock %}