{% extends "layouts/main.html" %}


{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">Remove Laura Brown's access</h1>
    <p>An email will be sent to let the user know their access has been removed.</p>
    <form method="post">
      <input class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit" value="Remove user" />
    </form>
  </div>
</div>

{% endblock %}
