{% extends "layouts/main.html" %}

{% block pageTitle %}
  Activity appears ineligible – Developing Your Creative Practice
{% endblock %}

{% block content %}

<a href="/eligibility/supported-disciplines" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Activity appears ineligible
    </h1>

    <div class="govuk-inset-text">
      Based on your answers to the eligibility questions, your activity does not appear to meet
      the basic eligibility criteria for Developing Your Creative Practice.
    </div>

    <p class="govuk-body">
      This means you cannot continue with an application for this programme using the information you
      have provided so far.
    </p>

    <p class="govuk-body">
      Please read the <a href="/guidance-for-applicants.docx" class="govuk-link" target="_blank" rel="noopener noreferrer">
      guidance for applicants (opens in a new tab)</a> to check the full eligibility criteria and
      to see whether there are any other programmes that may be more suitable for your activity.
    </p>

    <p class="govuk-body">
      If you believe you have answered a question incorrectly, you can go back and change your answers.
      Otherwise, you should not submit an application for this programme at this time.
    </p>

    <h2 class="govuk-heading-m">
      If you have any questions, please contact us
    </h2>

    <p class="govuk-body">
      Phone: 0161 934 4317<br>
      Email: <a href="mailto:enquiries@artscouncil.org.uk" class="govuk-link">
        enquiries@artscouncil.org.uk
      </a><br>
      Textphone: 44 (0) 20 7973 6564
    </p>

   <div class="govuk-button-group govuk-!-margin-top-6">
      <a href="/start-application"
         role="button"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button">
       Continue
      </a>

      <a href="/eligibility/supported-disciplines"
         class="govuk-button govuk-button--secondary"
         role="button">
        Back
      </a>
    </div>

  </div>
</div>

{% endblock %}
