{% extends "layouts/main.html" %}

{% block pageTitle %}
  Activity appears eligible – Developing Your Creative Practice
{% endblock %}

{% block content %}

<a href="/eligibility/supported-disciplines" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Activity appears eligible
    </h1>

    <p class="govuk-body">
      Based on your answers to these eligibility questions, your activity appears to meet some of our
      basic eligibility criteria for Developing Your Creative Practice.
    </p>

    <p class="govuk-body">
      You can now begin your application form by selecting <strong>Continue application</strong> below.
      Please read the guidance for applicants carefully before you begin.
    </p>

    <p class="govuk-body">
      Once you have submitted your application form, we will complete a full eligibility check and
      formally let you know whether your application is eligible.
    </p>

    <h2 class="govuk-heading-m">
      If you have any questions, please contact us
    </h2>

    <p class="govuk-body">
      Phone: 0161 934 4317<br>
      Email: <a href="mailto:enquiries@artscouncil.org.uk" class="govuk-link">
        enquiries@artscouncil.org.uk
      </a><br>
      Textphone: 44 (0) 20 7973 6564
    </p>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <a href="/start-application"
         role="button"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button">
       Continue
      </a>

      <a href="/eligibility/supported-disciplines"
         class="govuk-button govuk-button--secondary"
         role="button">
        Back
      </a>
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      <a href="/export-eligibility.pdf" class="govuk-link">
        Download this page as a PDF
      </a><br>
      <a href="https://get.adobe.com/uk/reader/" target="_blank" rel="noopener noreferrer" class="govuk-link">
        Get a PDF viewer (opens in a new tab)
      </a>
    </p>

  </div>
</div>

{% endblock %}
