{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          There is a problem with the service         
        </p>
        <p class="govuk-body">Your message could not be sent. Try again or come back later</p> 
      </div>
    </div>
    
    <h1 class="govuk-heading-l">
      Contact us
    </h1>

    <form method="post" action="contact-us-confirm">
      
      <div class="govuk-form-group">
          <label class="govuk-label" for="contact-your-name">
              Name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="contact-your-name"
              name="contact-your-name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-your-email">
            Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="contact-your-email"
            name="contact-your-email" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-your-org">
            Organisation
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="contact-your-org"
            name="contact-your-org" type="text">
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="more-detail">
           Message
          </label>
        </h2>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 10,000 characters
          </div>
      </div>

      <div class="govuk-form-group">
          <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
              Send
          </button>
      </div>

  </form>
  </div>
</div>




{% endblock %}
