{% extends "layouts/main.html" %}

{% block pageTitle %}
  Eligibility questionnaire – Developing Your Creative Practice
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Developing Your Creative Practice
    </h1>

    <h2 class="govuk-heading-m">
      Eligibility questionnaire
    </h2>

    <p class="govuk-body">
      Before you begin an application for Developing Your Creative Practice, we want to check that
      your proposed activity meets some basic eligibility criteria.
    </p>

    <p class="govuk-body">
      Developing Your Creative Practice supports practitioners working in our eligible disciplines
      to undertake a self-directed period of development. You can apply for between
      <strong>£2,000 and £12,000</strong>.
    </p>

    <p class="govuk-body">
      The programme is open to individuals, or to small groups of creative practitioners who normally
      collaborate in their work. One individual must take the lead for the application.
    </p>

    <p class="govuk-body">
      There are restrictions on the kinds of activity we can support and how often you can apply,
      especially if you’ve applied recently. The next few screens will check some basic points of
      eligibility for Developing Your Creative Practice, but this questionnaire is not a full
      eligibility check.
    </p>

    <p class="govuk-body">
      After the deadline for the round has passed, we aim to complete a full eligibility check
      within 15 working days.
    </p>

    <p class="govuk-body">
      You should read the eligibility section of the
      <a href="#" class="govuk-link">guidance for applicants</a> carefully before you start.
    </p>

    <div class="govuk-button-group">
      <a href="/eligibility-section-one.html"
         role="button"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button">
        Continue
      </a>

      <a href="/start-application" class="govuk-button govuk-button--secondary" role="button">
        Back
      </a>
    </div>

  </div>
</div>

{% endblock %}
