{% extends "layouts/main.html" %}

{% block pageTitle %}
  Finance – Developing Your Creative Practice
{% endblock %}

{% block content %}

<a href="/your-development" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Finance
    </h1>

    <p class="govuk-body">
      The Finance section will ask you to complete a budget for your activity.
      Please read the expenditure section of the guidance carefully before you begin.
    </p>

    <h2 class="govuk-heading-m">
      Key things to remember about budgets
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        We need to be able to see how you have worked your figures out, so please break them down clearly.
      </li>
      <li>
        Your budget should be for the <strong>total cost</strong> of the activity you are applying to do.
      </li>
    </ul>

     <div class="govuk-button-group">
      <a href="/finance-amount-requested.html"
         role="button"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button">
        Continue
      </a>

      <a href="/start-application" class="govuk-button govuk-button--secondary" role="button">
        Back
      </a>
    </div>

  </div>
</div>

{% endblock %}
