{% extends "layouts/main.html" %}

{% block header %}
{% set nav = [
  {
    href: '/supplier-information-v'+data['v']+'/dashboard',
    text: "Search",
    active: false
  },
  {
    href: "#",
    text: "Sign in"
  }
] %}

{{ govukHeader({
  homepageUrl: "start",
  serviceName: "Find a Tender",
  serviceUrl: "#",
  navigation: nav
}) }}
{% endblock %}

{% block pageTitle %}
  Find a Tender
{% endblock %}


{% block main %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
      </span>
    </p>
  </div>
</div>

<div class="govuk-panel govuk-panel--c govuk-!-margin-bottom-0">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-text-align-left">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
          Find information on UK public procurements and contracts
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-5">
          Find a Tender is where public sector buyers publish procurement, dynamic market and contract notices that suppliers can search and apply for.
        </p>

        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse govuk-button--start" data-module="govuk-button">
          Search
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <!-- <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How you sign in to Find a Tender has changed
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              You'll need a GOV.UK One Login to use this service and access any saved notices and notifications.
            </p>
            <p>
              You can create one if you do not already have one.
            </p>
          </div>
        </details> -->
      </div>
    </div>
  </div>
</div>

<div class="govuk-panel govuk-panel--a border-bottom">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-text-align-left">
        <h2 id="whats-new" class="govuk-heading-l">How you sign in to Find a Tender has changed</h2>
        <p class="govuk-body">You'll need a GOV.UK One Login to sign in to this service.</p>
        <p class="govuk-body">You can create one if you do not already have one.</p>
        <p class="govuk-body"><a href="#" class="govuk-link">Sign in with One Login</a></p>
      </div>
    </div>
  </div>
</div>


<div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
  <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>

<hr class="govuk-section-break govuk-section-break--s">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">
        Publish
      </h2>

      <p>Contracting authorities can <a href="#">register as a buyer</a> to publish notices throughout a procurement or contract.
      </p>

  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l">
      Supplier information
    </h2>

    <p>
      <a href="#" class="govuk-link">Register as a supplier</a> and complete your supplier information to be able to bid for procurements.
    </p>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--xl  govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Public procurement regulations
    </h2>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out about UK public procurement regulations
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Public procurement regulations for England, Wales and Northern Ireland for tenders published after October 2024:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">Procurement Act 2023</a></li>
          <li><a href="#">The Procurement Regulations 2024</a></li>
        </ul>

        <p>Public procurement regulations for England, Wales and Northern Ireland for tenders published before October 2024:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">The Public Contracts Regulations 2015</a></li>
          <li><a class="govuk-link" href="#">The Concession Contracts Regulations 2016</a></li>
          <li><a class="govuk-link" href="#">The Utilities Contracts Regulations 2016</a></li>
          <li><a class="govuk-link" href="#">Defence and Security Public Contracts Regulations 2011</a></li>
        </ul>

        <p>Public procurement regulations for Scotland:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">The Public Contracts (Scotland) Regulations 2015</a></li>
          <li><a class="govuk-link" href="#">The Concession Contracts (Scotland) 2016</a></li>
          <li><a class="govuk-link" href="#">The Utilities Contracts (Scotland) Regulations 2016</a></li>
          <li><a class="govuk-link" href="#">The Procurement Reform (Scotland) Act 2014</a></li>
          <li><a class="govuk-link" href="#">The Procurement (Scotland) Regulations 2016</a></li>
          <li><a class="govuk-link" href="#">Defence and Security Public Contracts Regulations 2011</a></li>
        </ul>
      </div>
    </details>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Report procurement concerns
    </h2>



     <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get advice on concerns with a public procurement
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Contact the review, enquiry or feedback service for your location:
            </p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">England: Public Procurement Review Service </a></li>
            <li><a href="#">Northern Ireland: CPD's Complaints Procedure</a></li>
            <li><a href="#">Scotland: Single Point of Enquiry (SPoE) service for public sector suppliers </a></li>
            <li><a href="#">Wales: Supplier feedback service </a></li>
          </ul>
        </div>
      </details>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      About Find a Tender
    </h2>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            More informaton on the Find a Tender service
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            From October 2024 all UK public sector procurements above and below <a href="https://www.gov.uk/government/publications/ppn-1123-new-thresholds" target="_blank">threshold</a> will be published on this service.
            </p>
          <p>
            Before October 2024 only above threshold, usually over £139,688 including VAT, were published.</p>
           <p>Find a Tender replaced <a href="https://ted.europa.eu/en/" target="_blank">Tenders Electronic Daily (TED)</a> on 31 December 2020 and includes new notices required by the Procurement Act 2023.
         </p>
         <p>
           You can find information on contracts over &pound;12,000 including VAT (or &pound;30,000 outside central government) on:
         </p>

         <ul class="govuk-list govuk-list--bullet">
           <li>
             <a href="#">Contracts Finder</a> for England and other non-devolved parts of the UK
           </li>
           <li>
             <a href="#">Public Contracts Scotland for Scotland</a>
           </li>
           <li>
             <a href="#">Sell2Wales for Wales</a>
           </li>
           <li>
             <a href="#">eSourcing NI</a> and <a href="#">eTendersNI</a> for Northern Ireland
           </li>
           </ul>
        </div>
      </details>


  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Get service support
    </h2>

    <p>
      <a href="#">Contact us</a> if you are experiencing problems using the Find a Tender service.
    </p>
  </div>
</div>
<script src="/public/javascripts/jquery-1.11.3.js"></script>


</main>
</div>
{% endblock %}
