{% extends "layouts/main.html" %}

{% block header %}
{% set nav = [
  {
    href: '/supplier-information-v'+data['v']+'/dashboard',
    text: "Search",
    active: false
  },
  {
    href: "#",
    text: "Sign in"
  }
] %}

{{ govukHeader({
  homepageUrl: "start",
  serviceName: "Find a Tender",
  serviceUrl: "#",
  navigation: nav
}) }}
{% endblock %}

{% block pageTitle %}
  Find a Tender
{% endblock %}

{% block content %}

<!--<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="event-name">
          Use Find a Tender service to search for opportunities, awards, and contracts in the UK's public and utilities sectors.
        </label>
      </h1>
     <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="text">  -->
      <!-- <button class="govuk-button govuk-button--start">
        Start

        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </button>
    </div>

  </div>
</div> -->

<hr class="govuk-section-break govuk-section-break--s">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Find information on UK public procurements and contracts
    </h1>
    <p>
      Find a Tender is where public sector buyers publish procurement, dynamic market and contract notices that suppliers can search and apply for.
    </p>

    <div class="govuk-visually-hidden hidden-content" aria-hidden="true">
      <p>
        From October 2024 all UK public sector procurements above and below <a href="https://www.gov.uk/government/publications/ppn-1123-new-thresholds" target="_blank">threshold</a> will be published on this service. Before October 2024 only above threshold, usually over £139,688 including VAT, were published.</p>
        <p>Find a Tender replaced <a href="https://ted.europa.eu/en/" target="_blank">Tenders Electronic Daily (TED)</a> on 31 December 2020 and includes new notices required by the Procurement Act 2023.
      </p>
      <p>
        You can find information on contracts over &pound;12,000 including VAT (or &pound;30,000 outside central government) on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Contracts Finder</a> for England and other non-devolved parts of the UK
        </li>
        <li>
          <a href="#">Public Contracts Scotland for Scotland</a>
        </li>
        <li>
          <a href="#">Sell2Wales for Wales</a>
        </li>
        <li>
          <a href="#">eSourcing NI</a> and <a href="#">eTendersNI</a> for Northern Ireland
        </li>
      </ul>
    </div>
    <a class="govuk-link link-show-more" href="#" data-link-caption="Show less">Show more</a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-panel govuk-!-text-align-left  govuk-panel--a">
      <h1 class="govuk-heading-l">
        Publish notices
      </h1>

      <p>Contracting authorities can register as a buyer to publish notices throughout a procurement or contract.
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-panel govuk-!-text-align-left govuk-panel--a">
      <h1 class="govuk-heading-l">
        Search notices
      </h1>

      <p>
        <a href="#" class="govuk-link--inverse">Search</a> for opportunities and contracts in the UK. <a href="#" class="govuk-link--inverse">Sign in</a> to get notifications then register as a supplier to bid.
      </p>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-m">
      Public procurement regulations
    </h1>
  </div>
  <div class="govuk-grid-column-one-half">
    <p>
      Find out about the regulations that govern UK public procurement.
    </p>

    <div class="govuk-visually-hidden hidden-content" aria-hidden="true">
      <p>Public procurement regulations for England, Wales and Northern Ireland for tenders published after October 2024:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Procurement Act 2023</a></li>
        <li><a href="#">The Procurement Regulations 2024</a></li>
      </ul>

      <p>Public procurement regulations for England, Wales and Northern Ireland for tenders published before October 2024:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">The Public Contracts Regulations 2015</a></li>
        <li><a class="govuk-link" href="#">The Concession Contracts Regulations 2016</a></li>
        <li><a class="govuk-link" href="#">The Utilities Contracts Regulations 2016</a></li>
        <li><a class="govuk-link" href="#">Defence and Security Public Contracts Regulations 2011</a></li>
      </ul>

      <p>Public procurement regulations for Scotland:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">The Public Contracts (Scotland) Regulations 2015</a></li>
        <li><a class="govuk-link" href="#">The Concession Contracts (Scotland) 2016</a></li>
        <li><a class="govuk-link" href="#">The Utilities Contracts (Scotland) Regulations 2016</a></li>
        <li><a class="govuk-link" href="#">The Procurement Reform (Scotland) Act 2014</a></li>
        <li><a class="govuk-link" href="#">The Procurement (Scotland) Regulations 2016</a></li>
        <li><a class="govuk-link" href="#">Defence and Security Public Contracts Regulations 2011</a></li>
      </ul>

    </div>
    <a class="govuk-link link-show-more" href="#" data-link-caption="Show less">Show more</a>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-panel govuk-panel--c">
      <h1 class="govuk-heading-m">How you sign in to Find a Tender has changed</h1>
      <p>
        You’ll need a GOV.UK One Login to use this service and access any saved notices and notifications.<br>
        You can create one if you do not already have one.
      </p>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse govuk-button--start" data-module="govuk-button">
        Sign in with One Login
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-m">
      Report procurement concerns
    </h1>
  </div>
  <div class="govuk-grid-column-one-half">
    <p>
      Report and get advice on any concerns you have with a public procurement you've been involved in.
    </p>

    <div class="govuk-visually-hidden hidden-content" aria-hidden="true">
      <p>Contact the review, enquiry or feedback service for your location:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">England: Public Procurement Review Service </a></li>
        <li><a href="#">Northern Ireland: CPD's Complaints Procedure</a></li>
        <li><a href="#">Scotland: Single Point of Enquiry (SPoE) service for public sector suppliers </a></li>
        <li><a href="#">Wales: Supplier feedback service </a></li>
      </ul>
    </div>
    <a class="govuk-link link-show-more" href="#" data-link-caption="Show less">Show more</a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-m">
      Get service support
    </h1>
  </div>
  <div class="govuk-grid-column-one-half">
    <p>
      <a href="#">Contact us</a> if you are experiencing problems using the Find a Tender service.
    </p>
  </div>
</div>
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% endblock %}
