{% extends "layouts/main.html" %}

{% block pageTitle %}
  Developing Your Creative Practice – Apply
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Developing Your Creative Practice
    </h1>

    <p class="govuk-body">
      Developing Your Creative Practice offers awards from <strong>£2,000 to £12,000</strong> to support development opportunities for individual cultural and creative practitioners based in England.
    </p>

    <p class="govuk-body">
      This application will ask questions about different parts of your project, including quality, management and finance. 
      We use this information to assess your application and decide whether to offer you a grant.
    </p>

    <p class="govuk-body">
      Some information will be shown automatically from your applicant profile. 
      If you need to make changes, go back to the <a href="#" class="govuk-link">Applicants</a> section before continuing.
    </p>

    <p class="govuk-body">
      Items marked with * must be completed.  
      All text boxes have character limits. Text beyond the limit will not be saved.
    </p>

    <p class="govuk-body">
      Before you start, please read the 
      <a href="#" class="govuk-link">Guidance for applicants</a>.
    </p>

    <form action="/start-application" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Start now
      </button>
    </form>

  </div>
</div>

{% endblock %}
