{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">
      Help us improve Find a Tender
    </h1>

    <p>
      Do not include personal or financial information, like your National Insurance number or credit card details
    </p>

    <form method="post" action="org-overview">

      <div class="govuk-form-group">
        <label class="govuk-label" for="answer-1">
          What were you doing?
        </label>
        
        <textarea class="govuk-textarea" id="answer-1" name="answer-1" rows="5"></textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="answer-2">
          What went wrong?
        </label>
        
        <textarea class="govuk-textarea" id="answer-2" name="answer-2" rows="5"></textarea>
      </div>

      <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
              Send
          </button>
      </div>



  </form>
  </div>
</div>




{% endblock %}
