{% extends "layouts/main.html" %} {% block header %} {%
include("includes/header-with-nav.html") %} {% endblock %} {% block
beforeContent %} {% include("includes/phase-banner.html") %} {%
include("includes/back-link.html") %} {% endblock %} {% block content %}

<div class="govuk-grid-column-ful-width">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">API key created</h1>
    <div class="govuk-panel__body">
      Your API key<br><strong>apo939yht288n</strong>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">
      Copy the API key and keep it safe.
    </div>
    <p class="govuk-body">
      This is the only time we show you the API key. If you lose it, you’ll need to cancel it and create a new one.
    </p>

    <p><a class="govuk-link govuk-link--no-visited-state"href="manage-API-key.html">Back to your API keys</a></p>
  </div>
</div>

{% endblock %}
