{% extends "layouts/main.html" %}

{% block header %}
  {% include("includes/header-with-nav.html") %}
{% endblock %}

{% block beforeContent %}
    {% include("includes/phase-banner.html") %}
    {% include("includes/back-link.html") %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m" style="color: #1d70b8;">
            Connected persons
        </h2>
        <span class="govuk-caption-l">Predecessor</span>

        <form class="form" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" data-required data-error="Enter the Companies House number"
                    aria-required="true">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">What is the registered Companies House number?</h1>
                    </legend>
                    <div id="Companies-House-registration-number-hint" class="govuk-hint">
                        CRNs are always 8 characters long. These can be either 8 digits or 2 letters followed by 6
                        digits. English and Welsh companies have 8-digit CRNs beginning with 0 or 1.
                    </div>
                    <input class="govuk-input govuk-input--width-20" name="predHouseNumber" id="predHouseNumber"
                        type="text" aria-describedby="predHouseNumber">
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Save and exit</button>
        </form>
    </div>

</div>
</div>

{% endblock %}