{# For guidance on how to use layouts see: https://prototype-kit.service.gov.uk/docs/how-to-use-layouts #} 
{% extends
"govuk-prototype-kit/layouts/govuk-branded.njk" %} 

{% block footer %} 
{% include "../includes/page-feedback.html" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
 {{ govukFooter({ 
    meta: {
        items: [ { href: "/manage-prototype/clear-data", text: "Clear data" },
          { href: "service-unavailable.html", text: "Service unavailable" },
          { href: "page-not-found.html", text: "Page not found" },
          { href: "problem-with-service.html", text: "Problem with service" }] } }) }} 
          
{% endblock %}

